<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Mission & Vision</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Mission & Vision</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- INFO-4
			============================================= -->
			<section id="info-4" class="wide-100 info-section division">
				<div class="container">


					<!-- TOP ROW -->
					<div class="top-row mb-80">
						<div class="row d-flex align-items-center">


						<!-- INFO IMAGE -->
						<div class="col-lg-6">
							<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
								<img class="img-fluid" src="images/vision.jpg" alt="info-image">
							</div>
						</div>


						<!-- INFO TEXT -->	
						<div class="col-lg-6">
							<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

								<!-- Section ID -->	
					 			<span class="section-id blue-color">Mission</span>

								<!-- Title -->
								<p>Sunrise literally means the first rays of the rising sun. We at Sunrise believe that these rays have healing powers and can completely cure a person giving him a healthy and longer life.

Following the path we have taken upon it as our duty to heal and provide all those in need with a healthier and disease free life. Medicinal as well as spiritual treatment is done at Sunrise where all healing powers of nature come together at one place and making a positive environment ideal for treating and rejuvenating.</p>

							<span class="section-id blue-color">Vision</span>

								<!-- Title -->
								<p> We at Sunrise are at a constant effort to improve and provide best health facilities in the city ,To create a world class integrated healthcare delivery system and aiming to become the leading multi specialty hospital in Varanasi, India</p>

								<!-- Singnature -->
								

							</div>
						</div>	<!-- END TEXT BLOCK -->	

						
						</div>    <!-- End row -->
					</div>	<!-- END TOP ROW -->
<section id="banner-6" class="bg-scroll banner-section division">
				<div class="container white-color">
			 		<div class="row d-flex align-items-center">


			 			<!-- BANNER TEXT -->
						<div class="col-lg-9 icon-xl">

							<!-- Icon -->	
							<span class="flaticon-072-hospital-5"></span>

							<!-- Text -->	
							<div class="banner-txt">
								<h4 class="h4-lg">Do you search a good and quality medical Hospital? We care about your health 24/7</h4>
								
							</div>

						</div>


						<!-- BANNER BUTTON -->
						<div class="col-lg-3 ">
							<div class="banner-btn text-right">
								<a href="contacts-1.html" class="btn btn-md btn-tra-white blue-hover">Get In Touch</a>
							</div>
						</div>	


			 		</div>      <!-- End row -->
				</div>	    <!-- End container -->		
			</section>	<!-- END BANNER-6 -->


					<!-- BOTTOM ROW -->
				