<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a asp-Controller ="Home" asp-Action="Index">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Our Gallery</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Our Gallery</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	



	
			
			<div id="gallery-3" class="gallery-section division">
				<div class="container">


					<!-- GALLERY FILTERING BUTTONS -->
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="gallery-filter mb-60">
			                    <button data-filter="*" class="is-checked">All</button>
			                    <button data-filter=".dental">Operation</button>
			                    <button data-filter=".pediatric">Hospital Staff</button>
			                    <button data-filter=".cardiology">Ward</button>
			                </div>
						</div>
					</div>


					<!-- GALLERY IMAGES HOLDER -->
					<div class="row">	
						<div class="col-md-12 gallery-items-list">
							<div class="masonry-wrap grid-loaded">


								<!-- IMAGE #1 -->
							  	<div class="gallery-item dental">
									<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/icu2.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/icu2.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>	
								</div>	<!-- END IMAGE #1 -->	


								<!-- IMAGE #2 -->
							  	<div class="gallery-item pediatric">
									<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/ot3.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/ot3.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>	
								</div>	<!-- END IMAGE #2 -->	


								<!-- IMAGE #3 -->
							  	<div class="gallery-item cardiology">
									<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/ward4.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/ward4.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #3 -->	


								<!-- IMAGE #4 -->
							  	<div class="gallery-item pediatric">
							  		<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/staff.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/staff.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #4 -->


								<!-- IMAGE #5 -->
							  	<div class="gallery-item dental">
							  		<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/operation.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/operation.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #5 -->


								<!-- IMAGE #6 -->
							  	<div class="gallery-item cardiology">
							  		<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/private.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/private.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #6 -->


								<!-- IMAGE #7 -->
							  	<div class="gallery-item pediatric">
							  		<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/path.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/path.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #7 -->


								<!-- IMAGE #8 -->
							  	<div class="gallery-item cardiology">
							  		<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/baby.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/baby.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #8 -->


								<!-- IMAGE #9 -->
							  


								<!-- IMAGE #10 -->
							  	<div class="gallery-item pediatric">
							  		<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/staffgroup.jpeg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/staffgroup.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #10 -->


								<!-- IMAGE #11 -->
							  	<div class="gallery-item cardiology">
							  		<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/ward2.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/ward2.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #11 -->


								<!-- IMAGE #12 -->
							  	<div class="gallery-item dental">
							  		<div class="hover-overlay"> 

										<!-- Gallery Image -->
										<img class="img-fluid" src="images/ot3.jpg" alt="galley-image" />			
										<div class="item-overlay"></div>				
												
										<!-- Image Zoom -->		
										<div class="image-zoom">
											<a class="image-link" href="images/ot3.jpg" title=""><i class="fas fa-search-plus"></i></a>
										</div> 

									</div>
								</div>	<!-- END IMAGE #12 -->


							</div>
						</div>	
					</div>	  <!-- END GALLERY IMAGES HOLDER -->

					
			 	</div>	   <!-- End container -->	
			</div>	<!-- END GALLERY-3 -->


