<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Jthemes" />
    <meta name=author content="DigiWeb Solutions">
    <meta name=description content="SunriseHospital offers  services like OPD, IPD, ECG, Pathology, Medicine, Ambulance and 24*7  Emergency ,N in Varanasi (India)">
    <meta name=keywords content="Best Neurology Hospital in Varanasi, Varanasi Neurology Hospital, Laproscopic Surgery in  Varanasi, Top Neurology Hospital in  Varanasi">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Neurology Hospital  in Varanasi</title>

    <link rel="shortcut icon" href="images/logi.jpg" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="152x152" href="images/logi.jpg.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/logi.jpg.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/logi.jpg.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">

    <!-- BOOTSTRAP CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <Link href="~/css/bootstrap.min.cs">


    <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" rel="stylesheet" crossorigin="anonymous">
    <link href="~/css/flaticon.css" rel="stylesheet">

    <!-- PLUGINS STYLESHEET -->
    <link href="~/css/menu.css" rel="stylesheet">
    <link id="effect" href="~/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
    <link href="~/css/magnific-popup.css" rel="stylesheet">
    <link href="~/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/jquery.datetimepicker.min.css" rel="stylesheet">

    <!-- TEMPLATE CSS -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- RESPONSIVE CSS -->
    <link href="~/css/responsive.css" rel="stylesheet">
</head>
<body>
    
        <div id="loader-wrapper">
            <div id="loader"><div class="loader-inner"></div></div>
        </div>

        <div>
            <!-- PAGE CONTENT
    ============================================= -->
            <!-- HEADER
    ============================================= -->
            <div id="page" class="page">
                <header id="header" class="header">


                    <!-- MOBILE HEADER -->
                    <div class="wsmobileheader clearfix">
                        <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
                        <span class="smllogo"><img src="images/logi.jpg" width="220" height="40" alt="mobile-logo" /></span>
                        <a href="tel:9634425888" class="callusbtn"><i class="fas fa-phone"></i></a>
                    </div>


                    <!-- HEADER STRIP -->
                    <div class="headtoppart bg-blue clearfix">
                        <div class="headerwp clearfix">

                            <!-- Address -->
                            <div class="headertopleft">
                                <div class="address clearfix">
                                    <span>
                                        <i class="fas fa-map-marker-alt"></i>Infront of Versova hospital, Near Sahil Vatika, Awleshpur, Varanasi
                                    </span> <a href="tel: 9634425888" class="callusbtn"><i class="fas fa-phone"></i>+91 9634425888</a>
                                </div>
                            </div>

                            <div class="headertopright">
                                <a class="googleicon" title="Google" href="https://www.google.com/search?q=sunrise+hospital+awleshpur+varanasi&oq=sun&aqs=chrome.0.69i59l3j69i57j46i433i457j69i61j69i60l2.3216j0j7&sourceid=chrome&ie=UTF-8"><i class="fab fa-google"></i> <span class="mobiletext02">Google</span></a>
                                <a class="linkedinicon" title="Linkedin" href="https://www.linkedin.com/company/sunrisehospitalawleshpurvaranasi/?feedView=ads&viewAsMember=true"><i class="fab fa-linkedin-in"></i> <span class="mobiletext02">Linkedin</span></a>
                                <a class="youtubeicon" title="YouTube" href="https://youtu.be/JTXxf1-pwd8"><i class="fab fa-youtube"></i> <span class="mobiletext02">Facebook</span></a>
                                <a class="facebookicon" title="Facebook" href="https://www.facebook.com/Sunrise-Hospital-Awleshpur-Varanasi-107970257256130/"><i class=" fab fa-facebook-f"></i> <span class="mobiletext02">Facebook</span></a>
                            </div>

                        </div>
                    </div>
                    <!--
                    </div>

                </div>
            </div>	<!-- END HEADER STRIP -->
                    <!-- NAVIGATION MENU -->
                    <div class="wsmainfull menu clearfix">
                        <div class="wsmainwp clearfix">

                            <!-- LOGO IMAGE -->
                            <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80 pixels) -->
                            <div class="desktoplogo"><a href="#hero-1"><img src="images/logi.jpg" width="220" height="40" alt="header-logo" style="font-weight: 600;"></a></div>

                            <!-- MAIN MENU -->
                            <nav class="wsmenu clearfix">
                                <ul class="wsmenu-list">


                                    <!-- DROPDOWN MENU -->
                                    <li aria-haspopup="true">
                                        <a asp-Controller="Home" asp-Action="Index">Home <span class=""></span></a>

                                    </li>	<!-- END DROPDOWN MENU -->
                                    <!-- PAGES -->
                                    <li aria-haspopup="true">
                                        <a asp-Controller="AboutUs" asp-Action="Index">About <span class="wsarrow"></span></a>
                                        <div class="wsmegamenu clearfix fullmenu">
                                            <div class="container">
                                                <div class="row">

                                                    <!-- MEGAMENU LINKS -->
                                                    <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <li class="title">About</li>
                                                        <li><a asp-Controller="About" asp-Action="Index">About Us </a></li>
                                                        <li><a asp-Controller="Director" asp-Action="Index">Director Mesages</a></li>

                                                        <li><a asp-Controller="Mission" asp-Action="Index">Mission & Vision</a></li>
                                                        <li><a asp-Controller="WhyChoose" asp-Action="Index"> Why Choose </a></li>
                                                    </ul>

                                                    <!-- MEGAMENU LINKS -->
                                                    <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <li class="title"> Department</li>
                                                        <li><a asp-Controller="Neurology" asp-Action="Index">Neurology</a></li>
                                                        <li><a asp-Controller="Urology" asp-Action="Index">Urology</a></li>
                                                        <li><a asp-Controller="Cardiology" asp-Action="Index">Cardiology(Heart)</a></li>
                                                        <li><a asp-Controller="Ortho" asp-Action="Index">Orthopedics</a></li>
                                                        <li><a asp-Controller="Gynaecologist" asp-Action="Index">Gynaecologist & Obstetrics</a></li>

                                                        <li><a asp-Controller="Dentistry" asp-Action="Index">Dentistry</a></li>
                                                        <li><a asp-Controller="ENT" asp-Action="Index">ENT(Eye,Nose,Throat)</a></li>

                                                    </ul>


                                                    <ul class="col-lg-3 col-md-12 col-xs-12 link-list">
                                                        <li class="title">Doctor</li>
                                                        <li><a asp-Controller="Meetthedoctor" asp-Action="Index">Our Doctor</a></li>
                                                        <li><a asp-Controller="DrAbhinavKatiyar" asp-Action="Index">Meet the Doctor</a></li>
                                                        <li><a asp-Controller="Appointment" asp-Action="Index">Make an Appointment</a></li>
                                                        <li><a asp-Controller="FAQ" asp-Action="Index">FAQs Page</a></li>
                                                      
                                                    </ul>

                                                    <!-- MEGAMENU LINKS -->


                                                </div>  <!-- End row -->
                                            </div>  <!-- End container -->
                                        </div>  <!-- End wsmegamenu -->
                                    </li>	<!-- END PAGES -->
                                    <!-- HALF MENU -->
                                    <li aria-haspopup="true">
                                        <a href="#"> Hospital Services<span class="wsarrow"></span></a>
                                        <div class="wsmegamenu clearfix halfmenu">
                                            <div class="container-fluid">
                                                <div class="row">

                                                    <!-- Links -->
                                                    <ul class="col-lg-6 col-md-6 col-xs-6 link-list">


                                                        <li><a asp-Controller="OPD" asp-Action="Index">OPD</a></li>
                                                        <li><a asp-Controller="IPD" asp-Action="Index">IPD</a></li>
                                                        <li><a asp-Controller="Pathology" asp-Action="Index">Pathology</a></li>
                                                        <li><a asp-Controller="ECG" asp-Action="Index">ECG</a></li>

                                                        <li><a asp-Controller="ICU" asp-Action="Index">ICU</a></li>
                                                    </ul>
                                                    <ul class="col-lg-6 col-md-12 col-xs-12 link-list">

                                                        <li><a asp-Controller="NICU" asp-Action="Index">NICU</a></li>

                                                        <li><a asp-Controller="Medicine" asp-Action="Index">Medicine</a></li>
                                                        <li><a asp-Controller="Ambulance" asp-Action="Index">Ambulance Services</a></li>
                                                        <li><a asp-Controller="Emergency" asp-Action="Index">24*7 Emergency</a></li>
                                                    </ul>



                                                </div>
                                            </div>
                                        </div>
                                    </li>	<!-- END HALF MENU -->
                                    <!-- MEGAMENU -->
                                    <li aria-haspopup="true">
                                        <a href="#">Blog <span class="wsarrow"></span></a>
                                        <div class="wsmegamenu clearfix">
                                            <div class="container">
                                                <div class="row">


                                                    <!-- MEGAMENU QUICK LINKS -->
                                                    <!-- MEGAMENU FEATURED NEWS -->
                                                    <div class="col-lg-5 col-md-12 col-xs-12">

                                                        <!-- Title -->
                                                        <h3 class="title">Blog</h3>

                                                        <!-- Image -->
                                                        <div class="fluid-width-video-wrapper"><img src="images/blog/featured-news.jpg" alt="featured-news" /></div>

                                                        <!-- Text -->
                                                        <h5 class="h5-xs"><a asp-Controller="NICU" asp-Action="Index">5 Common Digestive Problems and Ways to Manage Them</a></h5>
                                                        <p class="wsmwnutxt">
                                                            Stomach aches, vomiting, loose bowels and nausea are some of the most common ailments of the digestive tract that affect a large number of people across the globe. Fortunately, they are usually not life-threatening. However, sometimes these symptoms may indicate an underlying, more serious health concern. Following are the 5 most common digestive problems and
                                                        </p>

                                                    </div>	<!-- END MEGAMENU FEATURED NEWS -->
                                                    <!-- MEGAMENU LATEST NEWS -->
                                                    <div class="col-lg-4 col-md-12 col-xs-12">

                                                        <!-- Title -->
                                                        <h3 class="title">Latest News:</h3>

                                                        <!-- Latest News -->
                                                        <ul class="latest-news">

                                                            <!-- Post #1 -->
                                                            <li class="clearfix d-flex align-items-center">

                                                                <!-- Image -->
                                                                <img class="img-fluid" src="images/data.jpg" alt="blog-post-preview" />

                                                                <!-- Text -->
                                                                <div class="post-summary">
                                                                    <a href="https://www.news-medical.net/news/20201216/New-data-shows-encouraging-results-for-patients-with-neuro-degenerative-blinding-eye-disease.aspx">
                                                                        New data shows encouraging results for patients with neuro-degenerative blinding eye disease
                                                                    </a>
                                                                    <p>43 Comments</p>
                                                                </div>

                                                            </li>

                                                            <!-- Post #2 -->
                                                            <li class="clearfix d-flex align-items-center">

                                                                <!-- Image -->
                                                                <img class="img-fluid" src="images/covid.jpg" alt="blog-post-preview" />

                                                                <!-- Text -->
                                                                <div class="post-summary">
                                                                    <a href="https://www.news-medical.net/news/20201215/Study-COVID-19-patients-have-greater-risk-of-health-problems-mortality-than-those-with-flu.aspx">
                                                                        Study: COVID-19 patients have greater risk of health problems, mortality than those with flu
                                                                    </a>
                                                                    <p>38 Comments</p>
                                                                </div>

                                                            </li>

                                                            <!-- Post #3 -->
                                                            <li class="clearfix d-flex align-items-center">

                                                                <!-- Image -->
                                                                <img class="img-fluid" src="images/treatment.jpg" alt="blog-post-preview" />

                                                                <!-- Text -->
                                                                <div class="post-summary">
                                                                    <a href="https://www.news-medical.net/news/20201215/Study-finds-gaps-in-opioid-use-disorder-treatment-during-COVID-shutdowns.aspx">
                                                                        Researchers estimate the impacts of COVID-19 on U.S. health care community
                                                                    </a>
                                                                    <p>29 Comments</p>
                                                                </div>

                                                            </li>
                                                        </ul>
                                                    </div>	<!-- END MEGAMENU LATEST NEWS -->


                                                </div>  <!-- End row -->
                                            </div>  <!-- End container -->
                                        </div>  <!-- End wsmegamenu -->
                                    </li>	<!-- END MEGAMENU -->
                                    <li class="nl-simple" aria-haspopup="true"><a asp-Controller="Gallery" asp-Action="Index">Gallery</a></li>

                                    <!-- SIMPLE NAVIGATION LINK -->
                                    <li class="nl-simple" aria-haspopup="true"><a asp-Controller="Contact" asp-Action="Index">Contact</a></li>

                                    <!-- NAVIGATION MENU BUTTON -->
                                    <li class="nl-simple header-btn" aria-haspopup="true"><a asp-Controller="Appointment" asp-Action="Index">Make an Appointment</a></li>


                                </ul>
                            </nav>	<!-- END MAIN MENU -->

                        </div>
                    </div>	<!-- END NAVIGATION MENU -->


                </header>	<!-- END HEADER -->
                @RenderBody()
                <footer id="footer-1" class="bg-image wide-40 footer division">
                    <div class="container">


                        <!-- FOOTER CONTENT -->
                        <div class="row">


                            <!-- FOOTER INFO -->
                            <div class="col-md-6 col-lg-3">
                                <div class="footer-info mb-40">

                                    <!-- Footer Logo -->
                                    <!-- For Retina Ready displays take a image with double the amount of pixels that your image will be displayed (e.g 360 x 80  pixels) -->
                                    <img src="images/logi.jpg" width="180" height="40" alt="footer-logo">

                                    <!-- Text -->
                                    <p class="p-sm mt-20">
                                        The premier multi-specialty tertiary care hospital in Varanasi which specializes in Laparoscopic Surgery, NeuroSurgery, Plastic Surgery, Orthopedic Surgery, General Surgery'
                                    </p>

                                    <!-- Social Icons -->
                                    <div class="footer-socials-links mt-20">
                                        <ul class="foo-socials text-center clearfix">

                                            <li><a href="https://www.facebook.com/Sunrise-Hospital-Awleshpur-Varanasi-107970257256130/" class="ico-facebook"><i class="fab fa-facebook-f"></i></a></li>

                                            <li><a href="https://www.google.com/search?q=sunrise+hospital+awleshpur+varanasi&oq=sun&aqs=chrome.0.69i59l3j69i57j46i433i457j69i61j69i60l2.3216j0j7&sourceid=chrome&ie=UTF-8" class="ico-google-plus"><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href="https://www.linkedin.com/company/sunrisehospitalawleshpurvaranasi/?feedView=ads&viewAsMember=true" class="ico-linkldn"><i class="fab fa-linkedin-in"></i></a></li>

                                            <!--
                                    <li><a href="#" class="ico-behance"><i class="fab fa-behance"></i></a></li>
                                    <li><a href="#" class="ico-dribbble"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#" class="ico-instagram"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#" class="ico-linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="#" class="ico-pinterest"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="#" class="ico-youtube"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#" class="ico-vk"><i class="fab fa-vk"></i></a></li>
                                    <li><a href="#" class="ico-yelp"><i class="fab fa-yelp"></i></a></li>
                                    <li><a href="#" class="ico-yahoo"><i class="fab fa-yahoo"></i></a></li>
                                    -->

                                        </ul>
                                    </div>

                                </div>
                            </div>


                            <!-- FOOTER CONTACTS -->
                            <div class="col-md-6 col-lg-3">
                                <div class="footer-box mb-40">

                                    <!-- Title -->
                                    <h5 class="h5-xs">Our Location</h5>

                                    <!-- Address -->
                                    <p> Infront of versova hospital, Near Sahil Vatika, Awleshpur </p>
                                    <p>Varanasi  Uttar Pradesh 221010</p>

                                    <!-- Email -->
                                    <p class="foo-email mt-20">Email: <a href="mailto:Katiyar.13abhi@gmail.com">hello@sunrisehospital.com</a></p>

                                    <!-- Phone -->
                                    <p>Phone: +91 9415434546</p>

                                </div>
                            </div>


                            <!-- FOOTER WORKING HOURS -->
                            <div class="col-md-6 col-lg-3">
                                <div class="footer-box mb-40">

                                    <!-- Title -->
                                    <h5 class="h5-xs">Working Time</h5>

                                    <!-- Working Hours -->
                                    <p class="p-sm">Mon - Wed  <span> 9:00 AM - 10:00 PM</span></p>
                                    <p class="p-sm">Thur - Fri <span> 9:00 AM - 10:00 PM</span></p>
                                    <p class="p-sm">Sat <span> 9:00 AM - 10:00 PM</span></p>
                                    <p class="p-sm"> Sun  <span>Closed</span></p>

                                </div>
                            </div>


                            <!-- FOOTER PHONE NUMBER -->
                            <div class="col-md-6 col-lg-3">
                                <div class="footer-box mb-40">

                                    <!-- Title -->
                                    <h5 class="h5-xs">Emergency Cases</h5>

                                    <!-- Footer List -->
                                    <!-- Footer List -->
                                    <h5 class="h5-xl blue-color"> 	+91 9634425888 </h5>

                                    <!-- Text -->
                                    <p class="p-sm mt-15">Specialized in ‘Accident and Trauma care’, we are ably equipped with state-of-the-art treatment for all types of medical emergencies.

                                </div>
                            </div>


                        </div>	  <!-- END FOOTER CONTENT -->
                        <!-- FOOTER COPYRIGHT -->
                        <div class="bottom-footer">
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="footer-copyright">&copy; 2020 <span>Sunrise Hospital</span>. All Rights Reserved</p>
                                    <p><a href="http://digiwebsolutions.tech/">Developed By DigiwebSolution</a></p>
                                </div>
                            </div>
                        </div>


                    </div>	   <!-- End container -->
                </footer>	<!-- END FOOTER-1 -->
            </div>
        </div>
    <div style="position: fixed; right: 3px; bottom: 180px; cursor: pointer; font-family: Arial,Helvetica,sans-serif; z-index: 999"><a href="whatsapp://send?phone=+91 9634425888&amp;text=Hi, I contacted you through your website Sunrise Hospital."><p class="wa__btn_popup_icon"><img src="https://www.apollofertility.com/international-patient/img/whatsapp-icon.png" alt="" width="50" height="50"></p></a></div>



    @RenderSection("Scripts", required: false)


    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/modernizr.custom.js"></script>
    <script src="~/js/jquery.easing.js"></script>
    <script src="~/js/jquery.appear.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/menu.js"></script>
    <script src="~/js/sticky.js"></script>
    <script src="~/js/jquery.scrollto.js"></script>
    <script src="~/js/materialize.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/hero-form.js"></script>
    <script src="~/js/contact-form.js"></script>
    <script src="~/js/comment-form.js"></script>
    <script src="~/js/appointment-form.js"></script>
    <script src="~/js/jquery.datetimepicker.full.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/wow.js"></script>

    <!-- Custom Script -->
    <script src="js/custom.js"></script>

    <script>
        new WOW().init();
    </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!-- [if lt IE 9]>
        <script src="js/html5shiv.js" type="text/javascript"></script>
        <script src="js/respond.min.js" type="text/javascript"></script>
    <![endif] -->
    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <!--
    <script>
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    -->
    <!-- End Google Analytics -->

    <script src="~/js/changer.js"></script>
    <script defer src="~/js/styleswitch.js"></script>

</body>
	
</html>
