<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Who We Are</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Why Choose</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- INFO-1
			============================================= -->
		<section id="info-4" class="wide-100 info-section division">
				<div class="container">


					<!-- TOP ROW -->
					<div class="top-row mb-80">
						<div class="row d-flex align-items-center">


						<!-- INFO IMAGE -->
						<div class="col-lg-6">
							<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
								<img class="img-fluid" src="images/front.jpg" alt="info-image">
							</div>
						</div>


						<!-- INFO TEXT -->	
						<div class="col-lg-6">
							<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

								<!-- Section ID -->	
					 			<span class="section-id blue-color">Welcome to Sunrise Hospital</span>

								<!-- Title -->
								<h3 class="h3-md steelblue-color">Hospital with Innovative Approach to Treatment</h3>

								<!-- Text -->
								<p>Sprawled over 3000 sq feet of land with a covered – building area of 10000 sq feet.. Sunrise hospital provides total barrier free environment of first class medical management, surgical management in the field of Neurology, and other specialities.

The hospitals has 35 beded 5 icu beded 2 operation theater backed by latest diagnostic & treatment facilities , 24 hrs ambulance services and emergency facilities.

Sunrise hospital is proud to have a highly qualified and experienced – medical staff and support staff to provide you with excellent medical care with compassion
								</p>

								<!-- Text -->
							

								<!-- Singnature -->
								<div class="singnature mt-35">

									<!-- Text -->
									<p class="p-small mb-15">Dr Abhinav Katiyar,Director</p>

									<!-- Singnature Image -->
									<!-- Recommended sizes for Retina Ready displays is 400x68px; -->
									

								</div>

							</div>
						</div>	<!-- END TEXT BLOCK -->	

						
						</div>    <!-- End row -->
					</div>	<!-- END TOP ROW -->

<section id="banner-6" class="bg-scroll banner-section division">
				<div class="container white-color">
			 		<div class="row d-flex align-items-center">


			 			<!-- BANNER TEXT -->
						<div class="col-lg-9 icon-xl">

							<!-- Icon -->	
							<span class="flaticon-072-hospital-5"></span>

							<!-- Text -->	
							<div class="banner-txt">
								<h4 class="h4-lg">Do you search a good and quality medical Hospital? We care about your health 24/7</h4>
								
							</div>

						</div>


						<!-- BANNER BUTTON -->
						<div class="col-lg-3 ">
							<div class="banner-btn text-right">
								<a href="contacts-1.html" class="btn btn-md btn-tra-white blue-hover">Get In Touch</a>
							</div>
						</div>	


			 		</div>      <!-- End row -->
				</div>	    <!-- End container -->		
			</section>
		