<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a asp-Controller ="Home" asp-Action="Index">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Why Choose</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Why Choose</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- INFO-1
			============================================= -->
		<section id="info-4" class="wide-100 info-section division">
				<div class="container">


					<!-- TOP ROW -->
					<div class="top-row mb-80">
						<div class="row d-flex align-items-center">


						<!-- INFO IMAGE -->
						<div class="col-lg-6">
							<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
								<img class="img-fluid" src="images/front.jpg" alt="info-image">
							</div>
						</div>


						<!-- INFO TEXT -->	
						<div class="col-lg-6">
                            <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

                                <!-- Section ID -->
                              

                                <!-- Title -->
                                <h3 class="h3-md steelblue-color">Why Choose Sunrise Hospital</h3>

                                <!-- Text -->
                                At Sunrise  Hospital, we do more than healing patients, we foster trust and faith in healthcare. With the prime focus on innovation and premium care, the plan is to make affordable and supreme healthcare accessible to all.

                                Advanced disease management - Your well-being is our aspiration. Our nationally certified expert physicians perform rare life-saving surgeries while being updated with the technological breakthroughs.
                                Regular community services - We believe in giving back to the society and so, we are passionate about community service and care deeply for the goodwill of people. Ongoing medical camps, health awareness programs, ambulance facility to nearby areas are some of the provisions of our community service.
                                Competent to handle mass casualty - We deeply regret the untoward incidents that happen in people's lives and thus, we hone our preparedness for the same. Our emergency medicine staff competently works 24x7, even on the weekends.
                                Highly advanced emergency transport - Prompt medical attention is our strength. Every life matters and thus, to meet the specific needs of all individuals, our fleet of buses run 24x7.
                                High survival rates - With advanced machinery and hardworking doctors, we value the importance of quality care. Through a multidisciplinary approach, we help you get cared by the best.
                                People friendly processes - At Sunrise, you are so much more than merely a patient. Our patient rooms, lounges, the building structure is planned to make your stay convenient. The staff is well-trained to understand individual needs and extend personalized care and support.
                                Affordable treatment - We believe in providing the best medical treatments at the fraction of a cost. We thrive on the healthy state and wellbeing of our patients keeping the costs to the minimal.
                                State of the art equipment - Bringing advanced equipment from all over the world, Sunrise Hospital opens new frontiers of hope and gateway to a healthy life.
                               
                                <!-- Text -->
                                <!-- Singnature -->
                                <div class="singnature mt-35">

                                    <!-- Text -->
                                    <p class="p-small mb-15">Dr Abhinav Katiyar,Director</p>

                                    <!-- Singnature Image -->
                                    <!-- Recommended sizes for Retina Ready displays is 400x68px; -->


                                </div>

                            </div>
						</div>	<!-- END TEXT BLOCK -->	

						
						</div>    <!-- End row -->
					</div>	<!-- END TOP ROW -->

<div class="bottom-row">
						<div class="row d-flex align-items-center">


							<!-- INFO TEXT -->	
							<div class="col-lg-6">
								<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

									<!-- Section ID -->	
					 				<span class="section-id blue-color">Highest Quality Care</span>

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Complete Medical Solutions in One Place</h3>

									<!-- Text -->
									<p class="mb-30">
									</p>

									<!-- Options List -->
									<div class="row">

										<div class="col-xl-8">

											<!-- Option #1 -->
											<div class="box-list">							
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">General & Advanced Laproscopy Surgery</p>							
											</div>

											<!-- Option #2 -->
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Neuro Surgery</p>				
											</div>

											<!-- Option #3 -->
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Orthopedic Surgery</p>				
											</div>

										</div>

										<div class="col-xl-4">

											<!-- Option #4 -->
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Medicine</p>				
											</div>

											<!-- Option #5 -->
											<div class="box-list">							
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">E.N.T</p>							
											</div>

											<!-- Option #6 -->
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">X-ray</p>				
											</div>
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Pathology</p>				
											</div>

												<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">ECG</p>				
											</div>

										</div>

									</div>	<!-- End Options List -->

								</div>
							</div>	<!-- END INFO TEXT -->	


							<!-- INFO IMAGE -->
							<div class="col-lg-6">
								<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
									<img class="img-fluid" src="images/emergency_help_700x800.jpg" alt="info-image">
								</div>
							</div>

						
						</div>    <!-- End row -->
					</div>	<!-- END BOTTOM ROW -->


				</div>	   <!-- End container -->
			</section>	<!-- END INFO-4 -->




			<!-- STATISTIC-1
			============================================= -->
			<div id="statistic-1" class="bg-scroll statistic-section division">
				<div class="container white-color">
					<div class="row">


						<!-- STATISTIC BLOCK #1 -->
						<div class="col-md-6 col-lg-3">						
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.4s">

								<!-- Icon  -->
								<span class="flaticon-062-cardiogram-3"></span>

								<!-- Text -->
								<h5 class="statistic-number">1,<span class="count-element">100</span></h5>
								<p class="txt-400">Happy Patients</p>																			
													
							</div>								
						</div>


						<!-- STATISTIC BLOCK #2 -->
						<div class="col-md-6 col-lg-3">								
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.6s">

								<!-- Icon  -->
								<span class="flaticon-137-doctor"></span>

								<!-- Text -->
								<h5 class="statistic-number"><span class="count-element">20</span></h5>	
								<p class="txt-400">Qualified Doctors</p>										
																		
							</div>							
						</div>


						<!-- STATISTIC BLOCK #3 -->
						<div class="col-md-6 col-lg-3">					
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.8s">	

								<!-- Icon  -->
								<span class="flaticon-065-hospital-bed"></span>

								<!-- Text -->
								<h5 class="statistic-number"><span class="count-element">50</span></h5>
								<p class="txt-400">Clinic Rooms</p>									

							</div>						
						</div>
					

						<!-- STATISTIC BLOCK #4 -->
						<div class="col-md-6 col-lg-3">						
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="1s">	

								<!-- Icon  -->
								<span class="flaticon-040-placeholder"></span>

								<!-- Text -->	
								<h5 class="statistic-number"><span class="count-element">30</span></h5>
								<p class="txt-400">Staff</p>				
								
							</div>						
						</div>


					</div>  <!-- End row -->
				</div>	 <!-- End container -->		
			</div>
		