
<div id="breadcrumb" class="division">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" breadcrumb-holder">

                    <!-- Breadcrumb Nav -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-Controller="Home" asp-Action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a asp-Controller="Emergency" asp-Action="Index">Our Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">24*7 Emergency</li>
                        </ol>


                    </nav>

                    <!-- Title -->
                    <h4 class="h4-sm steelblue-color">24*7 Emergency</h4>

                </div>
            </div>
        </div>  <!-- End row -->
    </div>	<!-- End container -->
</div>	<!-- END BREADCRUMB -->
<!-- SERVICE



            <!-- SERVICE DETAILS
            ============================================= -->
<div id="service-page" class="wide-60 service-page-section division">
    <div class="container">


        <!-- TEXT -->
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="s1-page content-block text-center">

                    <!-- Title -->
                    <h3 class="h3-xl blue-color">24X7 Emergency</h3>


                    <!-- Text -->
                    <p class="p-lg">
                        Best Emergency experts at your service 24 hours. Drive in ambulance facility. Highly trained staff. All life threatening conditions, traumatic injuries, natural calamities etc .
                    </p>

                </div>
            </div>
        </div>  <!-- End row -->
        <!-- IMAGE -->
        <div class="row">
            <div class="col-md-12">
                <div class="content-block-img text-center">
                    <img class="img-fluid" src="images/emer.jpg" alt="content-image"   style="height:500px; width:600px" >
                </div>
            </div>
        </div>


        <!-- TEXT -->
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="s1-page content-block text-center mb-40">

                    <!-- Text -->
                    <!-- Button -->
                    <a href="appointment.html" class="btn btn-md btn-blue blue-hover">Book an Appointment</a>

                    <!-- Text -->


                </div>
            </div>

        </div>  <!-- End row -->


    </div>	<!-- End container -->
</div>	<!-- END SERVICE DETAILS -->
<!-- TESTIMONIALS-2
============================================= -->
<section id="reviews-2" class="bg-lightgrey wide-100 reviews-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">What Our Patients Say</h3>

                <!-- Text -->
                <p>
                    Our promise is a quality-driven service, and our aim is to ensure affordable access to healthcare services
                </p>

            </div>
        </div>	 <!-- END SECTION TITLE -->
        <!-- TESTIMONIALS CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme reviews-holder">


                    <!-- TESTIMONIAL #1 -->
                    <div class="review-2">
                        <div class="review-txt text-center">

                            <!-- Quote -->
                            <div class="quote"><img src="images/photo.png" alt="quote-img" /></div>

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="images/photo.png" alt="testimonial-avatar">
                            </div>

                            <!-- Testimonial Text -->
                            <p>
                                Best hospital in Varanasi and all facilities are available in very reasonable amount. The team is very responsible and much caring.
                            </p>

                            <!-- Testimonial Author -->
                            <div class="review-author">
                                <h5 class="h5-sm">Abhay Singh</h5>

                            </div>

                        </div>
                    </div>	<!--END  TESTIMONIAL #1 -->
                    <!-- TESTIMONIAL #2 -->
                    <div class="review-2">
                        <div class="review-txt text-center">

                            <!-- Quote -->
                            <div class="quote"><img src="images/photo (1).png" alt="quote-img" /></div>

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="images/photo (1).png" alt="testimonial-avatar">
                            </div>

                            <!-- Testimonial Text -->
                            <p>
                                Very good experience I had.
                                Sterilized environment .
                                Patient friendly place .
                                Cost effective I felt too
                                Thankx for the treatment
                            </p>

                            <!-- Testimonial Author -->
                            <div class="review-author">
                                <h5 class="h5-sm">Ruchi Singh</h5>

                            </div>

                        </div>
                    </div>	<!-- END TESTIMONIAL #2 -->
                    <!-- TESTIMONIAL #3 -->
                    <div class="review-2">
                        <div class="review-txt text-center">

                            <!-- Quote -->
                            <div class="quote"><img src="images/quote.png" alt="quote-img" /></div>

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="images/photo (2).png" alt="testimonial-avatar" >
                            </div>

                            <!-- Testimonial Text -->
                            <p>
                                Sunrise Hospital services is the best which gave best results.
                            </p>

                            <!-- Testimonial Author -->
                            <div class="review-author">
                                <h5 class="h5-sm">Shubham Sachan</h5>

                            </div>

                        </div>
                    </div>	<!-- END TESTIMONIAL #3 -->
                    <!-- TESTIMONIAL #6 -->
                    <!-- TESTIMONIAL #7 -->
                
                    <!-- TESTIMONIAL #9-->



                </div>
            </div>
        </div>	<!-- END TESTIMONIALS CONTENT -->


    </div>	   <!-- End container -->
</section>

<!-- END TESTIMONIALS-2 -->
<!-- DOCTORS-1
============================================= -->
<section id="doctors-1" class="wide-40 doctors-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">Our Medical Specialists</h3>

                <!-- Text -->
                <p>
                    A dedicated team of brilliant minds giving their everything to bring you a better and healthier tomorrow
                </p>

            </div>
        </div>	 <!-- END SECTION TITLE -->


        <div class="row">


            <!-- DOCTOR #1 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="images/sir2.jpg" alt="doctor-foto" style="height:300px">
                        <div class="item-overlay"></div>

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-1.html" title="">View More Info</a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Dr Abhinav Katiyar</h5>
                        <span class="blue-color">Neurologist(Director)</span>

                        <p class="p-sm grey-color">
                            MBBS,DNB,(Gen Surgery),FIMAS,FICS,MNAMS(General & Laposcopic Surgeon)
                        </p>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #1 -->
            <!-- DOCTOR #2 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="images/mam.jpg" alt="doctor-foto">


                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-2.html" title="">View More Info</a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Dr  Pragati  Sachan</h5>
                        <span class="blue-color">Dental & Oral Surgeon</span>

                        <p class="p-sm grey-color">
                            BDS, MDS (IMS-BHU) Ex Senior Resident(AIIMS,BBSR) Endodontist & Cosmetic Dentist
                        </p>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #2 -->
            <!-- DOCTOR #3 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="images/noimage.jpg" alt="doctor-foto">
                        <div class="item-overlay"></div>

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-1.html" title="">View More Info</a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Dr A.K Pradhan</h5>
                        <span class="blue-color">Plastic Surgeon</span>

                        <p class="p-sm grey-color">
                            MCH(Plastic Surgeon)
                        </p>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #3 -->
            <!-- DOCTOR #4 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="images/noimage.jpg" alt="doctor-foto">
                        <div class="item-overlay"></div>

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-2.html" title="">View More Info</a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Dr.P.S Verma</h5>
                        <span class="blue-color">Neurosurgeon</span>

                        <p class="p-sm grey-color">
                            MCH(Neuro Surgeon)
                        </p>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #4 -->


        </div>	    <!-- End row -->
        <!-- ALL DOCTORS BUTTON -->
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="all-doctors mb-40">
                    <a asp-Controller="Meetthedoctor" asp-Action="Index" class="btn btn-blue blue-hover">Meet All Doctors</a>
                </div>
            </div>
        </div>


    </div>	   <!-- End container -->
</section>	<!-- END DOCTORS-1 -->