<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a asp-Controller ="Home" asp-Action="Index">Home</a></li>
								    	<li class="breadcrumb-item"><a asp-Controller ="" asp-Action="Index">Our Services</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Ambulance Services</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Ambulance Services</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- SERVICE DETAILS
			============================================= -->
			<div id="service-page" class="wide-60 service-page-section division">
				<div class="container">


					<!-- TEXT -->
					<div class="row">
				 		<div class="col-xl-10 offset-xl-1">
				 			<div class="s1-page content-block text-center">

				 				<!-- Title -->
								<h3 class="h3-xl blue-color">Ambulance Services</h3>
								

				 				<!-- Text -->
								<p class="p-lg">Sunrise Hospital Hospital offers 24 hours round the clock ambulance services, geared to meet any emergency - surgical or medical. An ambulance that can take care of the patient, right from the site of the accident, or illness, and can make available to him, at his doorstep all the medical expertise and advances in patient care.
The ambulance, which is a Mobile Critical Care Unit, provides the patient, the same care as would be available in any well-equipped intensive care unit, during his / her transit to the hospital. Designed along the lines of the modern hi-tech ambulances, it has all the fitments for an emergency unit including a two-way communication system.
								</p>

				 			</div>
				 		</div>
				 	</div>  <!-- End row -->	


				 	<!-- IMAGE -->
				 	<div class="row">
				 		<div class="col-md-12">
							<div class="content-block-img text-center">
								<img class="img-fluid" src="images/Ambulance.jpg" alt="content-image"  style="height:500px; width:600px" >
							</div>
						</div>
					</div>


					<!-- TEXT -->
					<div class="row">
				 		<div class="col-xl-10 offset-xl-1">
				 			<div class="s1-page content-block text-center mb-40">

				 				<!-- Text -->
								

								<!-- Button -->
								<a asp-Controller ="Appointment" asp-Action="Index" class="btn btn-md btn-blue blue-hover">Book an Appointment</a>

								<!-- Text -->
								

				 			</div>
				 		</div>

				 	</div>  <!-- End row -->	


				</div>	<!-- End container -->	
			</div>	<!-- END SERVICE DETAILS -->




			<!-- TESTIMONIALS-2
			============================================= -->
				<!-- END DOCTORS-1 -->