

<div id="breadcrumb" class="division">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" breadcrumb-holder">

                    <!-- Breadcrumb Nav -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-Controller ="Home" asp-Action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Meet the Doctors</li>
                        </ol>
                    </nav>

                    <!-- Title -->
                    <h4 class="h4-sm steelblue-color">Meet the Doctors</h4>

                </div>
            </div>
        </div>  <!-- End row -->
    </div>	<!-- End container -->
</div>	<!-- END BREADCRUMB -->
<!-- DOCTORS-3
============================================= -->
<section id="doctors-3" class="bg-lightgrey wide-60 doctors-section division">
    <div class="container">
        <div class="row">


            <!-- DOCTOR #1 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="images/dpsir.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Abhinav Katiyar.</h5>
                        <span>Director</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15"asp-Controller ="DrAbhinavKatiyar" asp-Action="Index" title="">View More Info</a>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #1 -->
            <!-- DOCTOR #2 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="images/mam.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Pragati Sachan</h5>
                        <span>Dental & Oral Surgeon</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" asp-Controller ="DrPragatiSachan" asp-Action="Index" title="">View More Info</a>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #2 -->
            <!-- DOCTOR #3 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr A.K Pradhan</h5>
                        <span>Plastic Surgeon</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #3 -->
            <!-- DOCTOR #4 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr P.S Verma</h5>
                        <span>NeuroSurgeon</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #4 -->
            <!-- DOCTOR #5 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Amit Kumar</h5>
                        <span>Urologist</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #5 -->
            <!-- DOCTOR #6 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Shekhar Puri.</h5>
                        <span>Gestro</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #6 -->
            <!-- DOCTOR #7 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Vinit Ydav</h5>
                        <span>Ortho</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #7 -->
            <!-- DOCTOR #8 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Anupama Goyal</h5>
                        <span>Gynaecologist</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #8 -->
            <!-- DOCTOR #9 -->
            <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Vijaya Jha</h5>
                        <span>Gynaecologist</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
            
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Ashish Singh</h5>
                        <span>Respiratory Medicine</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Ravi Ranjan</h5>
                        <span>Medicine</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr R.K Mishra</h5>
                        <span>Anesthesia</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Vineet Agrawal</h5>
                        <span>Anesthesia</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr  Neeraj Srivastava</h5>
                        <span>Pediatrics</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Arvind Kumar</h5>
                        <span>Maxillo Facial Surgeon</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Pritam Kumar</h5>
                        <span>Pediatrics</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Manjari Gupta</h5>
                        <span>Obs & Gyn</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Rakesh Vishwakarma</h5>
                        <span>Ortho</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="doctor-1.html" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr  A.K Vishwakarma</h5>
                        <span>Oral & Maxillofacial Surgery</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="doctor-1.html" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr A.K Lal</h5>
                        <span>ENT</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="doctor-1.html" title="">View More Info</a>

                    </div>

                </div>
            </div>
             <div class="col-md-6 col-lg-4">
                <div class="doctor-2">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay">
                        <img class="img-fluid" src="~/images/imagesno.jpg" alt="doctor-foto">
                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-xs blue-color">Dr Sudhakar Singh</h5>
                        <span>Cardiology</span>

                        <!-- Button -->
                        <a class="btn btn-sm btn-blue blue-hover mt-15" href="doctor-1.html" title="">View More Info</a>

                    </div>

                </div>
            </div>
            
            	<!-- END DOCTOR #9 -->


        </div>	    <!-- End row -->
    </div>	   <!-- End container -->
</section>	<!-- END DOCTORS-3 -->
<!-- END TESTIMONIALS-2 -->
