@{
    ViewData["Title"] = "Home Page";
}





<section id="hero-6" class="hero-section division">


    <!-- SLIDER -->
    <div class="slider">
        <ul class="slides">


            <!-- SLIDE #1 -->
            <li id="slide-1">

                <!-- Background Image -->
                <img src="images/icu2.jpg" alt="slide-background">
                <div class="item-overlay"></div>
                <!-- Image Caption -->
                <div class="caption d-flex align-items-center center-align">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-txt white-color">

                                   <h5 style="color: #222;">Welcome to Sunrise</h5>
								         	 	<h2 style="color:#222;">Top Class Medical Center</h2>
                                    <a asp-Controller="About" asp-Action="Index" class="btn btn-blue tra-white-hover">More About </a>

                                </div>
                            </div>
                        </div>  <!-- End row -->
                    </div>  <!-- End container -->
                </div>	<!-- End Image Caption -->

            </li>	<!-- END SLIDE #1 -->
            <!-- SLIDE #2 -->
            <li id="slide-2">

                <!-- Background Image -->
                <img src="~/images/operation.jpg" alt="slide-background">

                <!-- Image Caption -->
                <div class="caption d-flex align-items-center center-align">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-txt white-color">

                                    <!-- Title -->
                                    <h5>Our Hospital Provide</h5>
                                    <h2>Total Health Care Solutions</h2>

                                    <!-- Text -->
                                    <p class="p-md">
                                        Sunrise Hospitals is an advanced Super Specialty Hospital and comprehensive diagnostics centre with the advanced laproscopy , ECG, X-ray, Pathology Scan in the region.
                                    </p>

                                    <!-- Button -->
                                    <a asp-Controller="About" asp-Action="Index" class="btn btn-tra-white black-hover mr-10">Get More Info</a>
                                    <a asp-Controller="OPD" asp-Action="Index" class="btn btn-blue blue-hover">Our  Services</a>

                                </div>
                            </div>
                        </div>  <!-- End row -->
                    </div>  <!-- End container -->
                </div>	<!-- End Image Caption -->

            </li>	<!-- END SLIDE #2 -->
            <!-- SLIDE #3 -->
            <li id="slide-3">

                <!-- Background Image -->
                <img src="images/team.jpg" alt="slide-background">

                <!-- Image Caption -->
                <div class="caption d-flex align-items-center center-align">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="caption-txt white-color">

                                    <!-- Title -->
                                    <h5>Our Medical Staff</h5>
                                    <h2>High-Class Professionals</h2>

                                    <!-- Text -->
                                    <!-- Button -->
                                    <a asp-Controller="Meetthedoctor" asp-Action="Index" class="btn btn-blue blue-hover mr-10">View All Doctors</a>


                                </div>
                            </div>
                        </div>  <!-- End row -->
                    </div>  <!-- End container -->
                </div>	<!-- End Image Caption -->

            </li>	<!-- END SLIDE #3 -->

        </ul>
    </div>	<!-- END SLIDER -->


</section>	<!-- END HERO-6 -->
<!-- ABOUT-3
============================================= -->
<section id="about-3" class="about-section division">
    <div class="container">
        <div class="abox-3-holder">
            <div class="row d-flex align-items-center">


                <!-- ABOUT BOX #1 -->
                <div class="col-lg-4">
                    <div class="abox-3 b-right wow fadeInUp" data-wow-delay="0.4s">

                        <!-- Small Title -->
                        <p class="blue-color">Qualified Doctors</p>

                        <!-- Title -->
                        <h5 class="h5-xs">Where People Come First</h5>

                        <!-- Text -->
                        <p>
                            Here at Sunrise we have some of the most top qualified physicians. Dedicated team of specialists and paramedics all under one roof.
                        </p>

                    </div>
                </div>


                <!-- ABOUT BOX #3 -->
                <div class="col-lg-4">
                    <div class="abox-3 b-right wow fadeInUp" data-wow-delay="0.6s">

                        <!-- Small Title -->
                        <p class="blue-color">24 Hour Service</p>

                        <!-- Title -->
                        <h5 class="h5-xs">Highest Quality Care</h5>

                        <!-- Text -->
                        <p>
                            A 24 hours Services facility for any kind of emergency. Fully loaded with all the modern medicines available to you at optimized rates.
                        </p>

                    </div>
                </div>


                <!-- ABOUT BOX #3 -->
                <div class="col-lg-4">
                    <div class="abox-3 wow fadeInUp" data-wow-delay="0.8s">

                        <!-- Small Title -->
                        <p class="blue-color">Emergency Services</p>

                        <!-- Title -->
                        <h5 class="h5-xs">24*7 Emergency</h5>

                        <!-- Text -->
                        <p>
                            Best Emergency experts at your service 24 hours. Drive in ambulance facility. Highly trained staff. All life threatening conditions, traumatic injuries, natural calamities etc .
                        </p>

                    </div>
                </div>


            </div>    <!-- End row -->
        </div>	   <!-- End container -->
    </div>
</section>	<!-- END ABOUT-3 -->
<!-- SERVICES-1
============================================= -->
<section id="services-1" class="wide-50 services-section division">
    <div class="container">
        <div class="row">


            <!-- SERVICE BOX #1 -->
            <div class="col-sm-6 col-lg-3">
                <div class="sbox-1 icon-md wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Icon -->
                    <span class="flaticon-137-doctor blue-color"></span>

                    <!-- Title -->
                    <h5 class="h5-sm steelblue-color">Qualified Doctors</h5>

                    <!-- Text -->
                    <p>
                        Here at Sunrise we have some of the most top qualified physicians. Dedicated team of specialists and paramedics all under one roof. We have Qualified Doctor.
                    </p>

                </div>
            </div>


            <!-- SERVICE BOX #2 -->
            <div class="col-sm-6 col-lg-3">
                <div class="sbox-1 icon-md wow fadeInUp" data-wow-delay="0.6s">

                    <!-- Icon -->
                    <span class="flaticon-076-microscope blue-color"></span>

                    <!-- Title -->
                    <h5 class="h5-sm steelblue-color">Modern Equipment</h5>

                    <!-- Text -->
                    <p>
                        Sunrise  Hospital incorporates the latest technology and medical equipment in patient care that helps the doctors diagnose diseases and treat patients effectively and efficiently.
                    </p>

                </div>
            </div>


            <!-- SERVICE BOX #3 -->
            <div class="col-sm-6 col-lg-3">
                <div class="sbox-1 icon-md wow fadeInUp" data-wow-delay="0.8s">

                    <!-- Icon -->
                    <span class="flaticon-008-ambulance-6 blue-color"></span>

                    <!-- Title -->
                    <h5 class="h5-sm steelblue-color">Emergency Help</h5>

                    <!-- Text -->
                    <p>
                        Specialized in ‘Accident and Trauma care’, we are ably equipped with state-of-the-art treatment for all types of medical emergencies.Best Emergency experts at your service 24 hours.
                    </p>

                </div>
            </div>


            <!-- SERVICE BOX #4 -->
            <div class="col-sm-6 col-lg-3">
                <div class="sbox-1 icon-md wow fadeInUp" data-wow-delay="1s">

                    <!-- Icon -->
                    <span class="flaticon-083-stethoscope blue-color"></span>

                    <!-- Title -->
                    <h5 class="h5-sm steelblue-color">Critical Care Unit</h5>

                    <!-- Text -->
                    <p>
                        We have a fully equipped and dedicated critical care unit of international standards. Looked after by a dedicated team of highly experienced critical care specialists.
                    </p>

                </div>
            </div>


        </div>	   <!-- End row -->
    </div>	   <!-- End container -->
</section>	<!-- END SERVICES-1 -->
<!-- SERVICES-5
============================================= -->
<section id="services-5" class="bg-lightgrey wide-100 services-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">Total Health Care Solutions</h3>

                <!-- Text -->
                <p>
                    When it comes to healthcare,
                    choose the best, choose Sunrise
                </p>

            </div>
        </div>


        <!-- SERVICES CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme services-holder">


                    <!-- SERVICE BOX #1 -->
                    <div class="sbox-5">

                        <!-- Image -->
                        <img class="img-fluid" src="images/paediatrics.jpg" alt="content-image" style="height: 260px;" />

                        <!-- Text -->
                        <div class="sbox-5-txt">

                            <!-- Title -->
                            <h5 class="h5-sm blue-color">Paediatrics</h5>

                            <!-- Text -->
                            <p>
                                Paediatrics is a branch of medicine that deals with the health and disease of children. At Sunrise  Hospital, the department consists of a children’s ward, a paediatric intensive care unit and a special care neonatal unit.Outpatient unit (OPD) has a paediatric section which includes immunisation clinic.
                            </p>

                        </div>

                    </div>


                    <!-- SERVICE BOX #2 -->
                    <div class="sbox-5">

                        <!-- Image -->
                        <img class="img-fluid" src="images/neurology.jpg" alt="content-image" />

                        <!-- Text -->
                        <div class="sbox-5-txt">

                            <!-- Title -->
                            <h5 class="h5-sm blue-color">Neurology</h5>

                            <!-- Text -->
                            <p>
                                Neurosurgery is a highly specialized field of medicine whose focus is the surgical treatment of brain and spine disorders. Our department has been the pioneer in this region in introducing latest treatment modalities using operating microscope and endoscope for the treatment of various neurological disorders.
                            </p>

                        </div>

                    </div>


                    <!-- SERVICE BOX #3 -->
                    <div class="sbox-5">

                        <!-- Image -->
                        <img class="img-fluid" src="images/dentist.jpg" alt="content-image" style="height:260px;" />

                        <!-- Text -->
                        <div class="sbox-5-txt">

                            <!-- Title -->
                            <h5 class="h5-sm blue-color">Dentistry</h5>

                            <!-- Text -->
                            <p>
                                Department of Dentistry in Sunrise Hospital provides high quality dental care to the community it serves. As a department of Sunrise Hospital, we have the expertise and latest state of art facilities to treat a wide variety of patients with oral and maxillofacial disease.
                            </p>

                        </div>

                    </div>


                    <!-- SERVICE BOX #4 -->
                    <div class="sbox-5">

                        <!-- Image -->
                        <img class="img-fluid" src="images/x-ray_700x700.jpg" alt="content-image" />

                        <!-- Text -->
                        <div class="sbox-5-txt">

                            <!-- Title -->
                            <h5 class="h5-sm blue-color">X-Ray Diagnostic</h5>

                            <!-- Text -->
                            <p>
                                To underline the broad spectrum of diagnostic services available, we also provide Digital X-Ray investigations of all regions, Ultrasound of all regions as well as colour doppler evaluations of all regions.An X-ray is a common imaging test that’s been used for decades. It can help your doctor view the inside of your body .
                            </p>

                        </div>

                    </div>


                    <!-- SERVICE BOX #5 -->
                    <div class="sbox-5">

                        <!-- Image -->
                        <img class="img-fluid" src="images/cardio.jpg" alt="content-image" />

                        <!-- Text -->
                        <div class="sbox-5-txt">

                            <!-- Title -->
                            <h5 class="h5-sm blue-color">Cardiology</h5>

                            <!-- Text -->
                            <p>
                                Cardiology Dept  made a quantum leap in providing advanced cardiac care after the establishment of a Cath Lab . Comprehensive cares ranging from emergency angioplasty for acute heart attack in the middle of the night to educating the public about healthy life style are carried out with lot of enthusiasm.
                            </p>

                        </div>

                    </div>


                    <!-- SERVICE BOX #6 -->
                    <!-- SERVICE BOX #7 -->
                    <div class="sbox-5">

                        <!-- Image -->
                        <img class="img-fluid" src="images/labby.jpg" alt="content-image" />


                        <!-- Text -->
                        <div class="sbox-5-txt">

                            <!-- Title -->
                            <h5 class="h5-sm blue-color">Pathology Services</h5>

                            <!-- Text -->
                            <p>
                                The hospital runs a large critical care facility with significantly better outcomes than all other facilities operational in this part of the country. For such critical care, quality laboratory support is essential and it comes through our speciality laboratory.
                            </p>

                        </div>

                    </div>


                    <!-- SERVICE BOX #8 -->
                    <div class="sbox-5">

                        <!-- Image -->
                        <img class="img-fluid" src="images/emergency_help_700x700.jpg" alt="content-image" />

                        <!-- Text -->
                        <div class="sbox-5-txt">

                            <!-- Title -->
                            <h5 class="h5-sm blue-color">Emergency Help</h5>

                            <!-- Text -->
                            <p>
                                The Department of Emergency is the face of the hospital and also one of its main pillars .It provides round the clock services which include any acute illness and cases which the patients and their relatives consider them to be attended immediately. The services are catered to the Sunrise Hospital employees.
                            </p>

                        </div>

                    </div>


                </div>
            </div>
        </div>	<!-- END SERVICES CONTENT -->


    </div>	   <!-- End container -->
</section>	 <!-- END SERVICES-5 -->
<!-- TABS-1
============================================= -->
<section id="tabs-1" class="wide-100 tabs-section division">
    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <!-- TABS NAVIGATION -->
                <div id="tabs-nav" class="list-group text-center">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist">

                        <!-- TAB-1 LINK -->
                        <li class="nav-item icon-xs">
                            <a class="nav-link active" id="tab1-list" data-toggle="pill" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">
                                <span class="flaticon-083-"></span> Neurology
                            </a>
                        </li>

                        <!-- TAB-2 LINK -->
                        <li class="nav-item icon-xs">
                            <a class="nav-link" id="tab2-list" data-toggle="pill" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">
                                <span class="flaticon-005"></span> Dentistry
                            </a>
                        </li>

                        <!-- TAB-3 LINK -->
                        <li class="nav-item icon-xs">
                            <a class="nav-link" id="tab3-list" data-toggle="pill" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">
                                <span class="flaticon-031r"></span> Paediatrics
                            </a>
                        </li>

                        <!-- TAB-4 LINK -->
                        <li class="nav-item icon-xs">
                            <a class="nav-link" id="tab4-list" data-toggle="pill" href="#tab-4" role="tab" aria-controls="tab-4" aria-selected="false">
                                <span class="flaticon-048"></span> Pathology
                            </a>
                        </li>

                    </ul>

                </div>	<!-- END TABS NAVIGATION -->
                <!-- TABS CONTENT -->
                <div class="tab-content" id="pills-tabContent">


                    <!-- TAB-1 CONTENT -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab1-list">
                        <div class="row d-flex align-items-center">


                            <!-- TAB-1 IMAGE -->
                            <div class="col-lg-6">
                                <div class="tab-img">
                                    <img class="img-fluid" src="images/oper.jpg" alt="tab-image" />
                                </div>
                            </div>


                            <!-- TAB-1 TEXT -->
                            <div class="col-lg-6">
                                <div class="txt-block pc-30">

                                    <!-- Title -->
                                    <h3 class="h3-md steelblue-color">Neurology</h3>

                                    <!-- Text -->
                                    <p class="mb-30">
                                        The Neuro-Surgery Department has  full time consultants, modular operation theaters with latest sterilization techniques and the latest Diagnositics and Critical Care facilties to provide quality healthcare for patients in need.
                                    </p>

                                    <!-- Options List -->
                                    <div class="row">

                                        <div class="col-xl-6">

                                            <!-- Option #1 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">General Surgery</p>
                                            </div>

                                            <!-- Option #2 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Advanced Laproscopic Surgery</p>
                                            </div>

                                            <!-- Option  #3 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Spinal Injuries</p>
                                            </div>

                                        </div>

                                        <div class="col-xl-6">

                                            <!-- Option #4 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Congenital Spinal Defects</p>
                                            </div>

                                            <!-- Option #5 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Brain Tumours</p>
                                            </div>

                                            <!-- Option #6 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Brain Haemorrhage</p>
                                            </div>

                                        </div>

                                    </div>	<!-- End Options List -->
                                    <!-- Button -->
                                    <a asp-Controller="Neurology" asp-Action="Index" class="btn btn-blue blue-hover mt-30">View More Details</a>

                                </div>
                            </div>	<!-- END TAB-1 TEXT -->


                        </div>
                    </div>	<!-- END TAB-1 CONTENT -->
                    <!-- TAB-2 CONTENT -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab2-list">
                        <div class="row d-flex align-items-center">


                            <!-- TAB-2 IMAGE -->
                            <div class="col-lg-6">
                                <div class="tab-imgs">
                                    <img class="img-fluid" src="images/dentist.jpg" alt="tab-image" />
                                </div>
                            </div>


                            <!-- TAB-2 TEXT -->
                            <div class="col-lg-6">
                                <div class="txt-block pc-30">

                                    <!-- Title -->
                                    <h3 class="h3-md steelblue-color">Dentistry</h3>

                                    <!-- Text -->
                                    <p class="mb-30">
                                        The department of Dentistry has  full time consultant and is supported by state of the art equipment and diagnostic facilties to provide the right treatment for patients.
                                    </p>

                                    <!-- Options List -->
                                    <div class="row">

                                        <div class="col-xl-6">

                                            <!-- Option #1 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Dental Caries and Cavity</p>
                                            </div>

                                            <!-- Option #2 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Dental Malalignment</p>
                                            </div>

                                            <!-- Option #3 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Dental Infections</p>
                                            </div>

                                        </div>

                                        <div class="col-xl-6">

                                            <!-- Option #4 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Oral infections, Ulcers, Polyps, Jaw infections</p>
                                            </div>

                                            <!-- Option #5 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Oral Dental Trauma</p>
                                            </div>

                                            <!-- Option #6 -->


                                        </div>

                                    </div>	<!-- End Options List -->
                                    <!-- Button -->
                                    <a asp-Controller="Dentistry" asp-Action="Index" class="btn btn-blue blue-hover mt-30">View More Details</a>

                                </div>
                            </div>	<!-- END TAB-2 TEXT -->


                        </div>
                    </div>	<!-- END TAB-2 CONTENT -->
                    <!-- TAB-3 CONTENT -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab3-list">
                        <div class="row d-flex align-items-center">


                            <!-- TAB-3 IMAGE -->
                            <div class="col-lg-6">
                                <div class="tab-img">
                                    <img class="img-fluid" src="images/baby.jpg" alt="tab-image" />
                                </div>
                            </div>


                            <!-- TAB-3 TEXT -->
                            <div class="col-lg-6">
                                <div class="txt-block pc-30">

                                    <!-- Title -->
                                    <h3 class="h3-md steelblue-color">Paediatrics</h3>

                                    <!-- Text -->
                                    <p class="mb-30">
                                        The Department has  full time consultants and is supported by the latest Critical Care and Diagnostic facilities to ensure that the patients get the appopriate and quality treatment they deserve. To summarise the department covers all kinds of diseases in children in upto 14 years of age.
                                    </p>

                                    <!-- Options List -->
                                    <div class="row">

                                        <div class="col-xl-6">

                                            <!-- Option #1 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Malnutrition and Growth retardation</p>
                                            </div>

                                            <!-- Option #2 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Infections and conditions like Diarrhoea, Dysentry, Pneumonia and Anaemia in children.</p>
                                            </div>

                                            <!-- Option #3 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Newborn conditions like respiratory distress, Generalised Sepsis.</p>
                                            </div>

                                        </div>

                                        <div class="col-xl-6">

                                            <!-- Option #4 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Meningitis, Encephalitiis, TB, Asthma, Allergies, Malaria and childhood fevers.</p>
                                            </div>

                                            <!-- Option #5 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Infections such as Chicken Pox, Measles and Influenza</p>
                                            </div>

                                            <!-- Option #6 -->


                                        </div>

                                    </div>	<!-- End Options List -->
                                    <!-- Button -->
                                    <a asp-Controller="Pathology" asp-Action="Index" class="btn btn-blue blue-hover mt-30">View More Details</a>

                                </div>
                            </div>	<!-- END TAB-3 TEXT -->


                        </div>
                    </div>	<!-- END TAB-3 CONTENT -->
                    <!-- TAB-4 CONTENT -->
                    <div class="tab-pane fade" id="tab-4" role="tabpanel" aria-labelledby="tab4-list">
                        <div class="row d-flex align-items-center">


                            <!-- TAB-4 IMAGE -->
                            <div class="col-lg-6">
                                <div class="tab-img">
                                    <img class="img-fluid" src="images/path.jpg" alt="tab-image" />
                                </div>
                            </div>


                            <!-- TAB-4 TEXT -->
                            <div class="col-lg-6">
                                <div class="txt-block pc-30">

                                    <!-- Title -->
                                    <h3 class="h3-md steelblue-color">Pathology</h3>

                                    <!-- Text -->
                                    <p class="mb-30">
                                        Health care providers may be unfamiliar with the workings of the pathology laboratory. The delivery of a specimen to the pathology laboratory initiates a complex series of events resulting in a pathologic diagnosis/interpretation. The following section reviews the importance and key objectives in the pathologic evaluation of tissue and provides information on the types and members of the pathology laboratory.
                                    </p>

                                    <!-- Options List -->
                                    <div class="row">

                                        <div class="col-xl-6">

                                            <!-- Option #1 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Digital X-Ray</p>
                                            </div>

                                            <!-- Option #2 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm"> ECG</p>
                                            </div>

                                            <!-- Option #3 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Pathology</p>
                                            </div>

                                        </div>

                                        <div class="col-xl-6">

                                            <!-- Option #4 -->
                                            <div class="box-list">
                                                <div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
                                                <p class="p-sm">Blood Bank</p>
                                            </div>

                                            <!-- Option #5 -->


                                        </div>

                                    </div>	<!-- End Options List -->
                                    <!-- Button -->
                                    <a asp-Controller="Pathology" asp-Action="Index" class="btn btn-blue blue-hover mt-30">View More Details</a>

                                </div>
                            </div>	<!-- END TAB-4 TEXT -->


                        </div>
                    </div>	<!-- END TAB-4 CONTENT -->


                </div>	<!-- END TABS CONTENT -->


            </div>
        </div>     <!-- End row -->
    </div>     <!-- End container -->
</section>	<!-- END TABS-1 -->
<!-- STATISTIC-1
============================================= -->
<div id="statistic-1" class="bg-scroll statistic-section division">
    <div class="container white-color">
        <div class="row">


            <!-- STATISTIC BLOCK #1 -->
            <div class="col-md-6 col-lg-3">
                <div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Icon  -->
                    <span class="flaticon-062-cardiogram-3"></span>

                    <!-- Text -->
                    <h5 class="statistic-number">1,10<span class="count-element">0</span></h5>
                    <p class="txt-400">Happy Patients</p>

                </div>
            </div>


            <!-- STATISTIC BLOCK #2 -->
            <div class="col-md-6 col-lg-3">
                <div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.6s">

                    <!-- Icon  -->
                    <span class="flaticon-137-doctor"></span>

                    <!-- Text -->
                    <h5 class="statistic-number"><span class="count-element">20</span></h5>
                    <p class="txt-400">Qualified Doctors</p>

                </div>
            </div>


            <!-- STATISTIC BLOCK #3 -->
            <div class="col-md-6 col-lg-3">
                <div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.8s">

                    <!-- Icon  -->
                    <span class="flaticon-065-hospital-bed"></span>

                    <!-- Text -->
                    <h5 class="statistic-number"><span class="count-element">50</span></h5>
                    <p class="txt-400">Clinic Rooms</p>

                </div>
            </div>


            <!-- STATISTIC BLOCK #4 -->
            <div class="col-md-6 col-lg-3">
                <div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="1s">

                    <!-- Icon  -->
                    <span class="flaticon-040-placeholder"></span>

                    <!-- Text -->
                    <h5 class="statistic-number"><span class="count-element">30</span></h5>
                    <p class="txt-400">Staff</p>

                </div>
            </div>


        </div>  <!-- End row -->
    </div>	 <!-- End container -->
</div>	 <!-- END STATISTIC-1 -->
<!-- INFO-2
============================================= -->
<!-- TESTIMONIALS-2
============================================= -->
<section id="reviews-2" class="bg-lightgrey wide-100 reviews-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">What Our Patients Say</h3>

                <!-- Text -->
                <p>
                    Our promise is a quality-driven service, and our aim is to ensure affordable access to healthcare services
                </p>

            </div>
        </div>	 <!-- END SECTION TITLE -->
        <!-- TESTIMONIALS CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-theme reviews-holder">


                    <!-- TESTIMONIAL #1 -->
                    <div class="review-2">
                        <div class="review-txt text-center">

                            <!-- Quote -->
                            <div class="quote"><img src="images/photo.png" alt="quote-img" /></div>

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="images/photo.png" alt="testimonial-avatar">
                            </div>

                            <!-- Testimonial Text -->
                            <p>
                                Best hospital in Varanasi and all facilities are available in very reasonable amount. The team is very responsible and much caring.
                            </p>

                            <!-- Testimonial Author -->
                            <div class="review-author">
                                <h5 class="h5-sm">Abhay Singh</h5>

                            </div>

                        </div>
                    </div>	<!--END  TESTIMONIAL #1 -->
                    <!-- TESTIMONIAL #2 -->
                    <div class="review-2">
                        <div class="review-txt text-center">

                            <!-- Quote -->
                            <div class="quote"><img src="images/photo (1).png" alt="quote-img" /></div>

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="images/photo (1).png" alt="testimonial-avatar">
                            </div>

                            <!-- Testimonial Text -->
                            <p>
                                Very good experience I had.
                                Sterilized environment .
                                Patient friendly place .
                                Cost effective I felt too
                                Thankx for the treatment
                            </p>

                            <!-- Testimonial Author -->
                            <div class="review-author">
                                <h5 class="h5-sm">Ruchi Singh</h5>

                            </div>

                        </div>
                    </div>	<!-- END TESTIMONIAL #2 -->
                    <!-- TESTIMONIAL #3 -->
                    <div class="review-2">
                        <div class="review-txt text-center">

                            <!-- Quote -->
                            <div class="quote"><img src="images/quote.png" alt="quote-img" /></div>

                            <!-- Author Avatar -->
                            <div class="testimonial-avatar">
                                <img src="images/photo (2).png" alt="testimonial-avatar">
                            </div>

                            <!-- Testimonial Text -->
                            <p>
                                Sunrise Hospital services is the best which gave best results.
                            </p>

                            <!-- Testimonial Author -->
                            <div class="review-author">
                                <h5 class="h5-sm">Shubham Sachan</h5>

                            </div>

                        </div>
                    </div>	<!-- END TESTIMONIAL #3 -->
                    <!-- TESTIMONIAL #6 -->
                    <!-- TESTIMONIAL #7 -->
                 
                    <!-- TESTIMONIAL #9-->



                </div>
            </div>
        </div>	<!-- END TESTIMONIALS CONTENT -->


    </div>	   <!-- End container -->
</section>	 <!-- END TESTIMONIALS-2 -->
<!-- DOCTORS-1
============================================= -->
<section id="doctors-1" class="wide-40 doctors-section division">
    <div class="container">


        <!-- SECTION TITLE -->
        <div class="row">
            <div class="col-lg-10 offset-lg-1 section-title">

                <!-- Title 	-->
                <h3 class="h3-md steelblue-color">Our Medical Specialists</h3>

                <!-- Text -->
                <p>
                    A dedicated team of brilliant minds giving their everything to bring you a better
                </p>

            </div>
        </div>	 <!-- END SECTION TITLE -->


        <div class="row">


            <!-- DOCTOR #1 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="images/sir2.jpg" alt="doctor-foto" style="height:300px">
                       

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" asp-Controller="DrAbhinavatiyar" asp-Action="Index" title="">View More Info</a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Dr Abhinav Katiyar</h5>
                        <span class="blue-color">Neurologist(Director)</span>

                        <p class="p-sm grey-color">
                            MBBS,DNB,(Gen Surgery),FIMAS,FICS,MNAMS(General & Laposcopic Surgeon)
                        </p>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #1 -->
            <!-- DOCTOR #2 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="images/mam.jpg" alt="doctor-foto">


                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover"asp-Controller="DrPragatiSachan" asp-Action="Index" title="">View More Info</a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Dr  Pragati  Sachan</h5>
                        <span class="blue-color">Dental & Oral Surgeon</span>

                        <p class="p-sm grey-color">
                            BDS, MDS (IMS-BHU) Ex Senior Resident(AIIMS,BBSR) Endodontist & Cosmetic Dentist
                        </p>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #2 -->
            <!-- DOCTOR #3 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="images/imagesno.jpg" alt="doctor-foto">
                     
                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-1.html" title="">View More Info</a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Dr A.K Pradhan</h5>
                        <span class="blue-color">Plastic Surgeon</span>

                        <p class="p-sm grey-color">
                            MCH(Plastic Surgeon)
                        </p>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #3 -->
            <!-- DOCTOR #4 -->
            <div class="col-md-6 col-lg-3">
                <div class="doctor-1">

                    <!-- Doctor Photo -->
                    <div class="hover-overlay text-center">

                        <!-- Photo -->
                        <img class="img-fluid" src="images/imagesno.jpg" alt="doctor-foto">
                        <div class="item-overlay"></div>

                        <!-- Profile Link -->
                        <div class="profile-link">
                            <a class="btn btn-sm btn-tra-white black-hover" href="doctor-2.html" title="">View More Info</a>
                        </div>

                    </div>

                    <!-- Doctor Meta -->
                    <div class="doctor-meta">

                        <h5 class="h5-sm steelblue-color">Dr.P.S Verma</h5>
                        <span class="blue-color">Neurosurgeon</span>

                        <p class="p-sm grey-color">
                            MCH(Neuro Surgeon)
                        </p>

                    </div>

                </div>
            </div>	<!-- END DOCTOR #4 -->


        </div>	    <!-- End row -->
     
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="all-doctors mb-40">
                    <a asp-Controller="Meetthedoctor" asp-Action="Index" class="btn btn-blue blue-hover">Meet All Doctors</a>
                </div>
            </div>
        </div>

        
    </div>	   <!-- End container -->
</section>	<!-- END DOCTORS-1 -->
<!-- INFO-9
============================================= -->
<section id="info-9" class="bg-blue info-section division">


    <!-- TEXT BLOCK -->
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="info-9-table white-color wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Title -->
                    <h4 class="h4-xs">Opening Hours:</h4>

                    <!-- Text -->
                    <!-- Table -->
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Mon – Wed</td>
                                <td> - </td>
                                <td class="text-right">9:00 AM - 10:00 PM</td>
                            </tr>
                            <tr>
                                <td>Wed - Thurs</td>
                                <td> - </td>
                                <td class="text-right">9:00 AM - 10:00 PM</td>
                            </tr>
                            <tr>
                                <td>Friday - Sat</td>
                                <td> - </td>
                                <td class="text-right">9:00 AM - 10:00 PM</td>
                            </tr>
                            <tr class="last-tr">
                                <td> Sun</td>
                                <td>-</td>
                                <td class="text-right">Closed</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- Title -->
                    <h5 class="h5-sm">Need a personal health plan?</h5>

                    <p>

                        Emergency Services   24 X 7 Hours
                    </p>
                    <br>


                    <p>
                        Emergency line
                        +91 - 9634425888
                    </p>




                </div>
            </div>
        </div>	  <!-- End row -->
    </div>	   <!-- END TEXT BLOCK -->
    <!-- INFO-9 IMAGE -->
    <div class="info-9-img bg-fixed text-center"></div>


</section>	<!-- END INFO-9 -->
<!-- ABOUT-5
============================================= -->
<section id="about-5" class="pt-100 about-section division">
    <div class="container">
        <div class="row d-flex align-items-center">


            <!-- IMAGE BLOCK -->
            <div class="col-lg-6">
                <div class="about-img text-center wow fadeInUp" data-wow-delay="0.6s">
                    <img class="img-fluid" src="images/team1.jpg" alt="about-image">
                </div>
            </div>


            <!-- TEXT BLOCK -->
            <div class="col-lg-6">
                <div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

                    <!-- Section ID -->
                    <span class="section-id blue-color">Qualified Doctors</span>

                    <!-- Title -->
                    <h3 class="h3-md steelblue-color">Group of Certified and Experienced Doctors</h3>

                    <!-- Text -->
                    <p>
                        Sunrise Hospital brings the best medical  in your neighborhood for super specialty consultations from the verticals of General and laproscopic Surgery, Cardiology and Neuro Surgery, Orthopaedics,Dental, Urology, Obstetrics and Gynaecology, Pediatrics and others.
                    </p>

                    <!-- Singnature -->
                    <div class="singnature mt-35">

                        <!-- Text -->
                        <h1><p class="p-small mb-15">Dr Abhinav Katiyar, Director</p></h1>

                        <!-- Singnature Image -->
                        <!-- Recommended sizes for Retina Ready displays is 400x68px; -->


                    </div>

                </div>
            </div>	<!-- END TEXT BLOCK -->


        </div>    <!-- End row -->
    </div>	   <!-- End container -->
</section>	<!-- END ABOUT-5 -->
<!-- VIDEO-1
============================================= -->


<section id="banner-6" class="bg-scroll banner-section division">
    <div class="container white-color">
        <div class="row d-flex align-items-center">


            <!-- BANNER TEXT -->
            <div class="col-lg-9 icon-xl">

                <!-- Icon -->
                <span class="flaticon-072-hospital-5"></span>

                <!-- Text -->
                <div class="banner-txt">
                    <h4 class="h4-lg">Do you search a good and quality medical Hospital? We care about your health 24/7</h4>

                </div>

            </div>


            <!-- BANNER BUTTON -->
            <div class="col-lg-3 ">
                <div class="banner-btn text-right">
                    <a asp-Controller="Contact" asp-Action="Index" class="btn btn-md btn-tra-white blue-hover">Get In Touch</a>
                </div>
            </div>


        </div>      <!-- End row -->
    </div>
    <!-- End container -->
</section>	<!-- END BANNER-6 -->
