<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a href="demo-1.html">Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Who We Are</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Who We Are</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- INFO-1
			============================================= -->
			<section id="info-1" class="wide-60 info-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- IMAGE BLOCK -->
						<div class="col-lg-6">
							<div class="info-1-img text-center mb-40 wow fadeInUp" data-wow-delay="0.6s">
								<img class="img-fluid" src="images/image-11.png" alt="info-image">
							</div>
						</div>


						<!-- TEXT BLOCK -->	
						<div class="col-lg-6">
							<div class="txt-block pc-30 mb-40 wow fadeInUp" data-wow-delay="0.4s">

								<!-- Section ID -->	
					 			

								<!-- Title -->
								<h3 class="h3-md steelblue-color">Hospital with Innovative Approach to Treatment</h3>

								<!-- Text -->
								

								<!-- Options List -->
								<div class="row">

									<div class="col-xl-6">

										<!-- Option #1 -->
										<div class="box-list m-top-15">							
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Medicine</p>							
										</div>

										<!-- Option #2 -->
										<div class="box-list">	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">E.N.T</p>				
										</div>

										<!-- Option #3 -->
										<div class="box-list">	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">X-ray</p>				
										</div>

									</div>

									<div class="col-xl-6">

										<!-- Option #4 -->
										<div class="box-list">	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">Pathology</p>				
										</div>

										<!-- Option #5 -->
										<div class="box-list m-top-15">							
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">ECG</p>							
										</div>

										<!-- Option #6 -->
										<div class="box-list">	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-sm">NICU/ICU </p>				
										</div>

									</div>

								</div>	<!-- End Options List -->

							</div>
						</div>	<!-- END TEXT BLOCK -->	

						
					</div>    <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END INFO-1 -->




			<!-- SERVICES-3
			============================================= -->
	




			<!-- ABOUT-5
			============================================= -->
			<section id="about-5" class="pt-100 about-section division">
				<div class="container">
					<div class="row d-flex align-items-center">


						<!-- IMAGE BLOCK -->
						<div class="col-lg-6">
							<div class="about-img text-center wow fadeInUp" data-wow-delay="0.6s">
								<img class="img-fluid" src="images/team1.jpg" alt="about-image">
							</div>
						</div>


						<!-- TEXT BLOCK -->	
						<div class="col-lg-6">
							<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

								<!-- Section ID -->	
					 			<span class="section-id blue-color">Qualified Doctors</span>

								<!-- Title -->
								<h3 class="h3-md steelblue-color">Group of Certified and Experienced Doctors</h3>

								<!-- Text -->
								<p>Sunrise Hospital brings the best medical  in your neighborhood for super specialty consultations from the verticals of General and laproscopic Surgery, Cardiology and Neuro Surgery, Orthopaedics,Dental, Urology, Obstetrics and Gynaecology, Pediatrics and others.
								</p>

								<!-- Singnature -->
								<div class="singnature mt-35">

									<!-- Text -->
								<h1><p class="p-small mb-15">Dr Abhinav Katiyar, Director</p></h1>

									<!-- Singnature Image -->
									<!-- Recommended sizes for Retina Ready displays is 400x68px; -->
									

								</div>

							</div>
						</div>	<!-- END TEXT BLOCK -->	

						
					</div>    <!-- End row -->
				</div>	   <!-- End container -->
			</section>	<!-- END ABOUT-5 -->




			<!-- INFO-9
			============================================= -->
			<section id="info-9" class="bg-blue info-section division">


				<!-- TEXT BLOCK -->		
				<div class="container">
					<div class="row d-flex align-items-center">	
						<div class="col-lg-6">
							<div class="info-9-table white-color wow fadeInUp" data-wow-delay="0.4s">

								<!-- Title -->
								<h4 class="h4-xs">Opening Hours:</h4>

								<!-- Text -->
								

								<!-- Table -->
								<table class="table">
									<tbody>
									     <tr>
									      	<td>Mon – Fri</td>
									      	<td> - </td>
									      	<td class="text-right">9:00 AM - 10:00 PM</td>
									    </tr>
									    <tr>
									      	<td>Saturday</td>
									      	<td>-</td>
									      	<td class="text-right">9:00 AM - 10:00 PM</td>
									    </tr>
									    <tr class="last-tr">
									      	<td>Sunday</td>
									      	<td>-</td>
									      	<td class="text-right">Closed</td>
									   	 </tr>
									  </tbody>
								</table>

								<!-- Title -->
								<h5 class="h5-sm">Need a personal health plan?</h5>

								<!-- Text -->
								

							</div>	
						</div>	
					</div>	  <!-- End row -->
				</div>	   <!-- END TEXT BLOCK -->	


				<!-- INFO-9 IMAGE -->
				<div class="info-9-img bg-fixed text-center"></div>


			</section>	<!-- END INFO-9 -->




			<!-- TABS-1
			============================================= -->
			



			<!-- TESTIMONIALS-2
			============================================= -->
			<section id="reviews-2" class="bg-lightgrey wide-100 reviews-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title">		

							<!-- Title 	-->	
							<h3 class="h3-md steelblue-color">What Our Patients Say</h3>	

							<!-- Text -->
							<p>Our promise is a quality-driven service, and our aim is to ensure affordable access to healthcare services
							</p>
										
						</div> 
					</div>	 <!-- END SECTION TITLE -->
				
					
					<!-- TESTIMONIALS CONTENT -->
					<div class="row">
						<div class="col-md-12">					
							<div class="owl-carousel owl-theme reviews-holder">

						
								<!-- TESTIMONIAL #1 -->
								<div class="review-2">
									<div class="review-txt text-center">

										<!-- Quote -->
										<div class="quote"><img src="images/photo.png" alt="quote-img" /></div>	

										<!-- Author Avatar -->
										<div class="testimonial-avatar">
											<img src="images/photo.png" alt="testimonial-avatar">
										</div>
																
										<!-- Testimonial Text -->
										<p>Best hospital in Varanasi and all facilities are available in very reasonable amount. The team is very responsible and much caring.
										</p>	

										<!-- Testimonial Author -->
										<div class="review-author">
											<h5 class="h5-sm">Abhay Singh</h5>	
											
										</div>							
																
									</div>						
								</div>	<!--END  TESTIMONIAL #1 -->
						
						
								<!-- TESTIMONIAL #2 -->
								<div class="review-2">
									<div class="review-txt text-center">

										<!-- Quote -->
										<div class="quote"><img src="images/photo (1).png" alt="quote-img" /></div>	

										<!-- Author Avatar -->
										<div class="testimonial-avatar">
											<img src="images/photo (1).png" alt="testimonial-avatar">
										</div>
																
										<!-- Testimonial Text -->
										<p> Very good experience I had.
 Sterilized environment .
 Patient friendly place .
 Cost effective I felt too
 Thankx for the treatment
										</p>										

										<!-- Testimonial Author -->
										<div class="review-author">
											<h5 class="h5-sm">Ruchi Singh</h5>	
											
									</div>

									</div>						
								</div>	<!-- END TESTIMONIAL #2 -->
						
						
								<!-- TESTIMONIAL #3 -->
								<div class="review-2">
									<div class="review-txt text-center">

										<!-- Quote -->
										<div class="quote"><img src="images/quote.png" alt="quote-img" /></div>	

										<!-- Author Avatar -->
										<div class="testimonial-avatar">
											<img src="images/photo (2).png" alt="testimonial-avatar">
										</div>
																
										<!-- Testimonial Text -->
										<p>Sunrise Hospital services is the best which gave best results.	   
										</p>

										<!-- Testimonial Author -->
										<div class="review-author">
											<h5 class="h5-sm">Shubham Sachan</h5>	
												
										</div>

									</div>						
								</div>	<!-- END TESTIMONIAL #3 -->


							
								
								<!-- TESTIMONIAL #6 -->
							
								
								
								<!-- TESTIMONIAL #7 -->
								<div class="review-2">
									<div class="review-txt text-center">

										<!-- Quote -->
										<div class="quote"><img src="images/" alt="" /></div>	

										<!-- Author Avatar -->
										<div class="testimonial-avatar">
											<img src="images/" alt="">
										</div>
																
										<!-- Testimonial Text -->
										<p> best and cheap hospital in varanasi .treated with advanced technology
										</p>

										<!-- Testimonial Author -->
										<div class="review-author">
											<h5 class="h5-sm">Nitin Sachan</h5>	
											
										</div>

									</div>						
								</div>	<!-- END TESTIMONIAL #7 -->


								

								<!-- TESTIMONIAL #9-->
								

							
							</div>
						</div>									
					</div>	<!-- END TESTIMONIALS CONTENT --> 
							
						
				</div>	   <!-- End container -->
			</section>	 <!-- END TESTIMONIALS-2 -->




			<!-- DOCTORS-1
			============================================= -->
		<section id="doctors-1" class="wide-40 doctors-section division">
				<div class="container">


			 		<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title">		

							<!-- Title 	-->	
							<h3 class="h3-md steelblue-color">Our Medical Specialists</h3>	

							<!-- Text -->
							<p>A dedicated team of brilliant minds giving their everything to bring you a better and healthier tomorrow
							</p>
										
						</div> 
					</div>	 <!-- END SECTION TITLE -->	


					<div class="row">


						<!-- DOCTOR #1 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">								
														
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center"> 

									<!-- Photo -->
									<img class="img-fluid" src="images/sir2.jpg" alt="doctor-foto"  style="height:300px">	
									<div class="item-overlay"></div>

									<!-- Profile Link -->		
									<div class="profile-link">
										<a class="btn btn-sm btn-tra-white black-hover" href="doctor-1.html" title="">View More Info</a>
									</div> 

								</div>	

								<!-- Doctor Meta -->		
								<div class="doctor-meta">

									<h5 class="h5-sm steelblue-color">Dr Abhinav Katiyar</h5>
									<span class="blue-color">Neurologist(Director)</span>

									<p class="p-sm grey-color">MBBS,DNB,(Gen Surgery),FIMAS,FICS,MNAMS(General & Laposcopic Surgeon)
									</p>

								</div>	

							</div>								
						</div>	<!-- END DOCTOR #1 -->
						
						
						<!-- DOCTOR #2 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">	
																						
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center"> 

									<!-- Photo -->
									<img class="img-fluid" src="images/mam.jpg" alt="doctor-foto">	
									

									<!-- Profile Link -->		
									<div class="profile-link">
										<a class="btn btn-sm btn-tra-white black-hover" href="doctor-2.html" title="">View More Info</a>
									</div>

								</div>	

								<!-- Doctor Meta -->		
								<div class="doctor-meta">

									<h5 class="h5-sm steelblue-color">Dr  Pragati  Sachan</h5>
									<span class="blue-color">Dental & Oral Surgeon</span>

									<p class="p-sm grey-color">BDS, MDS (IMS-BHU) Ex Senior Resident(AIIMS,BBSR) Endodontist & Cosmetic Dentist
									</p>

								</div>	

							</div>					
						</div>	<!-- END DOCTOR #2 -->
						
						
						<!-- DOCTOR #3 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">	
																						
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center"> 

									<!-- Photo -->
									<img class="img-fluid" src="images/doctor-3.jpg" alt="doctor-foto">	
									<div class="item-overlay"></div>

									<!-- Profile Link -->		
									<div class="profile-link">
										<a class="btn btn-sm btn-tra-white black-hover" href="doctor-1.html" title="">View More Info</a>
									</div>

								</div>		
								
								<!-- Doctor Meta -->		
								<div class="doctor-meta">

									<h5 class="h5-sm steelblue-color">Dr A.K Pradhan</h5>
									<span class="blue-color">Plastic Surgeon</span>

									<p class="p-sm grey-color"> MCH(Plastic Surgeon)
									</p>

								</div>	

							</div>			
						</div>	<!-- END DOCTOR #3 -->
											
						
						<!-- DOCTOR #4 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">	
																					
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center"> 

									<!-- Photo -->
									<img class="img-fluid" src="images/doctor-4.jpg" alt="doctor-foto">	
									<div class="item-overlay"></div>

									<!-- Profile Link -->		
									<div class="profile-link">
										<a class="btn btn-sm btn-tra-white black-hover" href="doctor-2.html" title="">View More Info</a>
									</div>

								</div>		
								
								<!-- Doctor Meta -->		
								<div class="doctor-meta">

									<h5 class="h5-sm steelblue-color">Dr.P.S Verma</h5>
									<span class="blue-color">Neurosurgeon</span>

									<p class="p-sm grey-color"> MCH(Neuro Surgeon)
									</p>

								</div>	

							</div>			
						</div>	<!-- END DOCTOR #4 -->


					</div>	    <!-- End row -->


					<!-- ALL DOCTORS BUTTON -->		
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="all-doctors mb-40">
								<a href="all-doctors.html" class="btn btn-blue blue-hover">Meet All Doctors</a>
							</div>
						</div>
					</div>


				</div>	   <!-- End container -->
			</section>	
