<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a asp-Controller ="Services" asp-Action="Index"
										
										>Home</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Director Message</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Director Message</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- INFO-4
			============================================= -->
			<section id="info-4" class="wide-100 info-section division">
				<div class="container">


					<!-- TOP ROW -->
					<div class="top-row mb-80">
						<div class="row d-flex align-items-center">


						<!-- INFO IMAGE -->
						<div class="col-lg-6">
							<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
								<img class="img-fluid" src="images/sir1.jpg" alt="info-image">
							</div>
						</div>


						<!-- INFO TEXT -->	
						<div class="col-lg-6">
							<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

								<!-- Section ID -->	
					 		<h1>	<span class="section-id blue-color">Dr Abhinav Katiyar</span></h1>

								<!-- Title -->
								<h5 class="h3-md steelblue-color">MBBS, DNB, (Gen. Surgery) FMAS, FICS, MNAMS</h5>
<h5> Ex. Fellow Medanta the Medicity (Gurugram)</h5>
<h5> Consultant General & Laproscopic Surgeon</h5>
								<!-- Text -->
								<p>In private practice i started Sunrise Hospital with all facilities under one roof. Sunrise Hospital was a 30 bedded modern nursing home with all diagnostic and therapeutic facilities. Our experience at Neurology helped us when we decided to go for a Multi Super Speciality Hospital. I was upset looking at the pathetic condition of urology departments of corporate hospitals in Varanasi. They only have priority for Cardiology and other money spinning specialities. That is the reason why their Operation Theaters are not fully equipped. They do not have Flexible Scope for RIRS, Holmium Laser, KTP Green Light Laser and other Hi-Tech equipments. At Sunrise we aim to provide each and every patient with the latest and advanced form of treatment. All super specialities like Neurosurgery, Laparoscopic surgery, Paediatric surgery, Spine & Orthopaedic surgery & all medical specialities like Endodonist & Cosmetic Dentist, Nephrology, G.I. Medicine, Pain Management etc are available for you with world class expertise. All my team members are experts in their respective fields & each and every patient will benefit from their expertise. I wish a you happy and memorable experience at Sunrise Hospitals.
								</p>

								<!-- Text -->
							

								<!-- Singnature -->
								<div class="singnature mt-35">

									<!-- Text -->
									<p class="p-small mb-15">Dr Abhinav Katiyar,Director</p>

									<!-- Singnature Image -->
									<!-- Recommended sizes for Retina Ready displays is 400x68px; -->
									
								</div>

							</div>
						</div>	<!-- END TEXT BLOCK -->	

						
						</div>    <!-- End row -->
					</div>	<!-- END TOP ROW -->


					<!-- BOTTOM ROW -->
					<div class="bottom-row">
						<div class="row d-flex align-items-center">


							<!-- INFO TEXT -->	
							<div class="col-lg-6">
								<div class="txt-block pc-30 wow fadeInUp" data-wow-delay="0.4s">

									<!-- Section ID -->	
					 				<span class="section-id blue-color">Highest Quality Care</span>

									<!-- Title -->
									<h3 class="h3-md steelblue-color">Complete Medical Solutions in One Place</h3>

									<!-- Text -->
									<p class="mb-30">
									</p>

									<!-- Options List -->
									<div class="row">

										<div class="col-xl-8">

											<!-- Option #1 -->
											<div class="box-list">							
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">General & Advanced Laproscopy Surgery</p>							
											</div>

											<!-- Option #2 -->
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Neuro Surgery</p>				
											</div>

											<!-- Option #3 -->
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Orthopedic Surgery</p>				
											</div>

										</div>

										<div class="col-xl-4">

											<!-- Option #4 -->
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Medicine</p>				
											</div>

											<!-- Option #5 -->
											<div class="box-list">							
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">E.N.T</p>							
											</div>

											<!-- Option #6 -->
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">X-ray</p>				
											</div>
											<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">Pathology</p>				
											</div>

												<div class="box-list">	
												<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
												<p class="p-sm">ECG</p>				
											</div>

										</div>

									</div>	<!-- End Options List -->

								</div>
							</div>	<!-- END INFO TEXT -->	


							<!-- INFO IMAGE -->
							<div class="col-lg-6">
								<div class="info-4-img text-center wow fadeInUp" data-wow-delay="0.6s">
									<img class="img-fluid" src="images/emergency_help_700x800.jpg" alt="info-image">
								</div>
							</div>

						
						</div>    <!-- End row -->
					</div>	<!-- END BOTTOM ROW -->


				</div>	   <!-- End container -->
			</section>	<!-- END INFO-4 -->




			<!-- STATISTIC-1
			============================================= -->
			<div id="statistic-1" class="bg-scroll statistic-section division">
				<div class="container white-color">
					<div class="row">


						<!-- STATISTIC BLOCK #1 -->
						<div class="col-md-6 col-lg-3">						
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.4s">

								<!-- Icon  -->
								<span class="flaticon-062-cardiogram-3"></span>

								<!-- Text -->
								<h5 class="statistic-number">1,<span class="count-element">100</span></h5>
								<p class="txt-400">Happy Patients</p>																			
													
							</div>								
						</div>


						<!-- STATISTIC BLOCK #2 -->
						<div class="col-md-6 col-lg-3">								
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.6s">

								<!-- Icon  -->
								<span class="flaticon-137-doctor"></span>

								<!-- Text -->
								<h5 class="statistic-number"><span class="count-element">20</span></h5>	
								<p class="txt-400">Qualified Doctors</p>										
																		
							</div>							
						</div>


						<!-- STATISTIC BLOCK #3 -->
						<div class="col-md-6 col-lg-3">					
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="0.8s">	

								<!-- Icon  -->
								<span class="flaticon-065-hospital-bed"></span>

								<!-- Text -->
								<h5 class="statistic-number"><span class="count-element">50</span></h5>
								<p class="txt-400">Clinic Rooms</p>									

							</div>						
						</div>
					

						<!-- STATISTIC BLOCK #4 -->
						<div class="col-md-6 col-lg-3">						
							<div class="statistic-block icon-lg wow fadeInUp" data-wow-delay="1s">	

								<!-- Icon  -->
								<span class="flaticon-040-placeholder"></span>

								<!-- Text -->	
								<h5 class="statistic-number"><span class="count-element">30</span></h5>
								<p class="txt-400">Staff</p>				
								
							</div>						
						</div>


					</div>  <!-- End row -->
				</div>	 <!-- End container -->		
			</div>	 <!-- END STATISTIC-1 -->




			<!-- VIDEO-2
			============================================= -->
	