<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						s
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a asp-Controller ="Home" asp-Action="Index">Home</a></li>
								    	<li class="breadcrumb-item"><a asp-Controller ="Urology" asp-Action="Index">Departments</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Urology</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Urology</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- DEPARTMENT DETAILS
			============================================= -->
			<div id="department-page" class="wide-60 department-page-section division">
				<div class="container">
				 	<div class="row">


				 		<!-- DEPARTMENT DETAILS -->
				 		<div class="col-lg-8">
				 			<div class="txt-block pr-30">


				 				<!-- CONTENT BLOCK -->
				 				<div class="content-block mb-40">

				 					<!-- Text -->
									<p class="p-md">The Urology Department has  full time consultants, modular operation theaters with latest sterilization techniques and the latest Diagnositics and Critical Care facilties to provide quality healthcare for patients in need.
									</p>

					 				<!-- Text -->
									

									<!-- Small Title -->
									<h5 class="h5-md steelblue-color">Common Diseases and Conditions</h5>

									<!-- CONTENT BOX #1 -->
									<div class="box-list">							
										<div class="box-list-icon"><i class="fas fa-genderless"></i></div>
										<p>Prostate ( Enlarged and Cancerous )
										</p>							
									</div>

									<!-- CONTENT BOX #2 -->
									<div class="box-list">	
										<div class="box-list-icon"><i class="fas fa-genderless"></i></div>
										<p>Urinary Tract Infections
										</p>				
									</div>


									<!-- CONTENT BOX #3 -->
									<div class="box-list">	
										<div class="box-list-icon"><i class="fas fa-genderless"></i></div>
										<p>Urinary Stones and Infections
										</p>				
									</div>

									<!-- Image -->
									<div class="content-block-img">
										<img class="img-fluid" src="images/cardiology_1000x500.jpg" alt="content-image">
									</div>

									<!-- Small Title -->
									<h5 class="h5-md steelblue-color">What We Offer</h5>

									<!-- Text -->
									

									<!-- Options List -->
									<div class="options-list">
										<div class="row">

											<div class="col-xl-6">

												<!-- Option #1 -->
												<div class="box-list m-top-15">							
													<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
													<p>Daily OPD Consultation ( Mon to Sat )</p>			
												</div>

												<!-- Option #2 -->
												<div class="box-list">	
													<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
													<p class="p-sm">Emergency Consultation 24 / 7</p>				
												</div>

												<!-- Option #3 -->
												<div class="box-list">	
													<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
													<p>Surgery for Prostate, Cystoscopy</p>			
												</div>

											</div>

											<div class="col-xl-6">

												<!-- Option #4 -->
												<div class="box-list">	
													<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
													<p>Surgery for Urinary Stones</p>				
												</div>

												<!-- Option #5 -->
												

												<!-- Option #6 -->
												<div class="box-list">	
													<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
													<p>Lithotripsy</p>				
												</div>

											</div>

										</div>	<!-- End row -->
									</div>	<!-- End Options List -->

								</div>	<!-- END CONTENT BLOCK -->


				 				<!-- PRICING -->
								<div id="pricing-2" class="pricing-section division">
									<div class="row pricing-row">


										<!-- PRICING TABLE #1 -->
										<div class="col-md-12">

											<!-- Plan Title  -->
											<h5 class="h5-md steelblue-color">Facilities</h5>

											<div class="pricing-table mb-40">								
												<table class="table table-hover">
													<thead>
													    <tr>
													      	<th scope="col">#</th>
													      	<th scope="col">Service</th>
													      
													    </tr>
													</thead>
													<tbody>
													    <tr>
													      	<th scope="row">1</th>
													     	<td>X-Ray</td>
													      
													    </tr>
													    <tr>
													      	<th scope="row">2</th>
													      	<td>ECG</td>
													      
													    </tr>
													    <tr>
													      	<th scope="row">3</th>
													      	<td>Pathology</td>
													      
													    </tr>
													   
													  
													   
													</tbody>
												</table>
											</div>
										</div>	<!-- END PRICING TABLE #1 -->


										<!-- PRICING TABLE #2 -->
										<div class="col-md-12">

											<!-- Plan Title  -->
											

											<div class="pricing-table mb-40">	
												<table class="table table-hover">
													<thead>
													    <tr>
													      	<th scope="col">#</th>
													      	<th scope="col">Service</th>
													      
													    </tr>
													</thead>
													<tbody>
													    <tr>
													      	<th scope="row">4</th>
													     	<td>OPD</td>
													      
													    </tr>
													   
													    <tr>
													      	<th scope="row">5</th>
													      	<td>IPD</td>
													      
													    </tr>
													   
													</tbody>
												</table>
											</div>
										</div>	<!-- END PRICING TABLE #2 -->

						
									</div>	<!-- End row -->	
								</div>	<!-- END PRICING -->


				 			</div>
				 		</div>	<!-- END DEPARTMENT DETAILS -->


				 		<!-- SIDEBAR  -->
						<aside id="sidebar" class="col-lg-4">


							<!-- TEXT WIDGET -->						
							<div id="txt-widget" class="sidebar-div mb-50">
										
								<!-- Title -->
								<h5 class="h5-sm steelblue-color">Sunrise Hospital</h5>

								<!-- Head of Clinic -->
								<div class="txt-widget-unit mb-15 clearfix d-flex align-items-center">
								
									<!-- Avatar -->
									<div class="txt-widget-avatar">
										<img src="images/dpsir.jpg" alt="testimonial-avatar">
									</div>

									<!-- Data -->
									<div class="txt-widget-data">
										<h5 class="h5-md steelblue-color">Dr. Abhinav Katiyar</h5>	
										<span>Director</span>	
										<p class="blue-color">+91 9634425888</p>	
									</div>

								</div>	<!-- End Head of Clinic -->	
								
								<!-- Text -->
								

								<!-- Button -->
								<a asp-Controller ="DrAbhinavKatiyar" asp-Action="Index" class="btn btn-blue blue-hover">Learn More</a>
																		
							</div>	<!-- END TEXT WIDGET -->

								
							<!-- SIDEBAR TABLE -->
							<div class="sidebar-table blue-table sidebar-div mb-50">

								<!-- Title -->
								<h5 class="h5-md">Working Time</h5>

								<!-- Text -->
							

								<!-- Table -->
								<table class="table">
									<tbody>
									    <tr>
									      	<td>Mon – Wed</td>
									      	<td> - </td>
									      	<td class="text-right">9:00 AM - 10:00 PM</td>
									    </tr>
									    <tr>
									      	<td>Thursday</td>
									      	<td> - </td>
									      	<td class="text-right">9:00 AM - 10:00 PM</td>
									    </tr>
									     <tr>
									      	<td>Friday - Sat</td>
									      	<td> - </td>
									      	<td class="text-right">9:00 AM - 10:00 PM</td>
									    </tr>
									    <tr class="last-tr">
									      	<td> Sun</td>
									      	<td>-</td>
									      	<td class="text-right">CLOSED</td>
									   	 </tr>
									  </tbody>
								</table>

								<!-- Title -->
								

								<!-- Text -->
								

							</div>	<!-- END SIDEBAR TABLE -->


							<!-- SIDEBAR TIMETABLE -->
				


							<!-- IMAGE WIDGET -->						
							<div id="image-widget" class="sidebar-div">
								<a href="#">
									<img class="img-fluid" src="images/blog/image-widget.jpg" alt="image-widget" />
								</a>																		
							</div>


						</aside>   <!-- END SIDEBAR -->


					</div>	<!-- End row -->	
				</div>	 <!-- End container -->
			</div>	<!-- END DEPARTMENT DETAILS -->

<section id="doctors-1" class="bg-lightgrey wide-40 doctors-section division">
				<div class="container">


			 		<!-- SECTION TITLE -->	
					<div class="row">	
						<div class="col-lg-10 offset-lg-1 section-title">		

							<!-- Title 	-->	
							<h3 class="h3-md steelblue-color">Our Medical Specialists</h3>	

							<!-- Text -->
							
										
						</div> 
					</div>	 <!-- END SECTION TITLE -->	


					<div class="row">


						<!-- DOCTOR #1 -->
						<div class="col-md-6 col-lg-3">
							<div class="doctor-1">								
														
								<!-- Doctor Photo -->
								<div class="hover-overlay text-center"> 

									<!-- Photo -->
									<img class="img-fluid" src="images/noimage.jpg" alt="doctor-foto">	
									<div class="item-overlay"></div>

									<!-- Profile Link -->		
									<div class="profile-link">
										<a class="btn btn-sm btn-tra-white black-hover" asp-Controller ="Home" asp-Action="Index" title="">View More Info</a>
									</div> 

								</div>	

								<!-- Doctor Meta -->		
								<div class="doctor-meta">

									<h5 class="h5-sm steelblue-color">Dr Amit Kumar</h5>
									<span class="blue-color">Urologist</span>

									<p class="p-sm grey-color">MCH
									</p>

								</div>	

							</div>								
						</div>	<!-- END DOCTOR #1 -->
						
						
					</div><!-- End row -->


					<!-- ALL DOCTORS BUTTON -->		
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="all-doctors mb-40">
								<a asp-Controller ="Meetthedoctor" asp-Action="Index" class="btn btn-blue blue-hover">Meet All Doctors</a>
							</div>
						</div>
					</div>


				</div>	   <!-- End container -->
			</section>	

