
<div id="breadcrumb" class="division">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class=" breadcrumb-holder">

                    <!-- Breadcrumb Nav -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-Controller ="Home" asp-Action="Index">Home</a></li>
                            <li class="breadcrumb-item"><a  asp-Controller ="ECG" asp-Action="Index">Our Services</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ECG</li>
                        </ol>


                    </nav>

                    <!-- Title -->
                    <h4 class="h4-sm steelblue-color">ECG</h4>

                </div>
            </div>
        </div>  <!-- End row -->
    </div>	<!-- End container -->
</div>	<!-- END BREADCRUMB -->
<!-- SERVICE DETAILS
============================================= -->
<div id="service-page" class="wide-60 service-page-section division">
    <div class="container">


        <!-- TEXT -->
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="s1-page content-block text-center">

                    <!-- Title -->
                    <!-- Text -->
                    <p class="p-lg">
                        An echocardiogram also known as echo is a graphic summary showing the movement of the heart. It is a test that uses high frequency sounds to show the shape and the size of your heart. This test allows your doctor to see how your heart is pumping in terms of viewing the chambers and the valves.
                    </p>

                </div>
            </div>
        </div>  <!-- End row -->
        <!-- IMAGE -->
        <div class="row">
            <div class="col-md-12">
                <div class="content-block-img text-center">
                    <img class="img-fluid" src="images/ecg.jpg" alt="content-image">
                </div>
            </div>
        </div>


        <!-- TEXT -->
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <div class="s1-page content-block text-center mb-40">

                    <!-- Text -->
                    <!-- Button -->
                    <a asp-Controller="Home" asp-Action="Index" class="btn btn-md btn-blue blue-hover">Book an Appointment</a>

                    <!-- Text -->


                </div>
            </div>

        </div>  <!-- End row -->


    </div>	<!-- End container -->
</div>	<!-- END SERVICE DETAILS -->
<!-- TESTIMONIALS-2




<!-- DOCTORS-1
============================================= -->
<!-- END DOCTORS-1 -->