<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a asp-Controller ="Appointment" asp-Action="Index">Home</a></li>
								    	<li class="breadcrumb-item"><a asp-Controller ="Medicine" asp-Action="Index">Our Services</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">Medicine</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">Medicines</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- SERVICE DETAILS
			============================================= -->
			<div id="service-page" class="wide-60 service-page-section division">
				<div class="container">


					<!-- TEXT -->
					<div class="row">
				 		<div class="col-xl-10 offset-xl-1">
				 			<div class="s1-page content-block text-center">

				 				<!-- Title -->
								<h3 class="h3-xl blue-color">Medicines</h3>
								

				 				<!-- Text -->
								<p class="p-lg">The Hospitalist Service at CHI Health is designed to provide you, the hospitalized patient and your family, increased physician attention and accessibility. The hospitalist team closely monitors the delivery of your care from admission to discharge and is available throughout the day to answer your questions and guide your treatment.
								</p>

				 			</div>
				 		</div>
				 	</div>  <!-- End row -->	


				 	<!-- IMAGE -->
				 	<div class="row">
				 		<div class="col-md-12">
							<div class="content-block-img text-center">
								<img class="img-fluid" src="images/medical.jpg" alt="content-image" style="height:500px; width:600px">
							</div>
						</div>
					</div>
                <br />
                <br />


					<!-- TEXT -->
					<div class="row">
				 		<div class="col-xl-10 offset-xl-1">
				 			<div class="s1-page content-block text-center mb-40">

				 				<!-- Text -->
								

								<!-- Button -->
								<a asp-Controller ="Appointment" asp-Action="Index" class="btn btn-md btn-blue blue-hover">Book an Appointment</a>

								<!-- Text -->
								

				 			</div>
				 		</div>

				 	</div>  <!-- End row -->	


				</div>	<!-- End container -->	
			</div>	<!-- END SERVICE DETAILS -->




			<!-- TESTIMONIALS-2
			============================================= -->
				<!-- END DOCTORS-1 -->