
	<section id="doctor-breadcrumbs" class="bg-fixed doctor-details-section division">	
				<div class="container">
					<div class="row">
						<div class="col-md-7 offset-md-5">
			 				<div class="doctor-data white-color">

			 					<!-- Name -->	
			 					<h2 class="h2-xs">Dr.Pragati Sachan </h2>
			 					<h5 class="h5-md">Dental & Oral Surgeon</h5>

							</div>
						</div>
					</div>   <!-- End row -->	
				</div>	  <!-- End container -->
			</section>	<!-- END DOCTOR BREADCRUMBS -->




			<!-- DOCTOR-1 DETAILS -->
			<section id="doctor-1-details" class="doctor-details-section division">	
				<div class="container">
					<div class="row">


						<!-- DOCTOR PHOTO -->
						<div class="col-md-5">
			 				<div class="doctor-photo mb-40">

			 					<!-- Photo -->	
			 					<img class="img-fluid" src="images/mam.jpg" alt="doctor-foto">

			 					<!-- Doctor Info -->
			 					<div class="doctor-info">
									<table class="table table-striped">
										<tbody>
										    <tr>
										      	<td>Degrees</td>
										      	<td>M.D.S </td>
										    </tr>
										    <tr>
										      	<td>Areas of Expertise</td>
										      	<td><span><i class="fas fa-angle-double-right"></i>Dental</span>
										      		<span><i class="fas fa-angle-double-right"></i>Oral Surgeon</span>
										      	
										      	</td>
										   	</tr>
										   	<tr>
										      	<td>Language(s)</td>
										      	<td>English / Hindi </td>
										   	</tr>
										   	<tr class="last-tr">
										      	<td>Work Days</td>
										      	<td>Monday - Saturday</td>
										   	</tr>
										</tbody>
									</table>
								</div>	<!-- End Doctor Info -->

								<!-- Doctor Contacts -->	
			 					

								<!-- Buttons -->
								<div class="doctor-photo-btn text-center">
									<a asp-Controller ="Appointment" asp-Action="Index" class="btn btn-md btn-blue blue-hover">Book an Appointment</a>
									
								</div>

			 				</div>
			 			</div>	<!-- END DOCTOR PHOTO -->


			 			<!-- DOCTOR'S BIO -->
						<div class="col-md-7">
							<div class="doctor-bio">

			 					<!-- Text -->	
						   	

						   		<!-- Text -->  
								

						   		<!-- Title -->	
								<h5 class="h5-md blue-color">Education + Trainings</h5>

						   		<!-- Text -->
								<p>Dr.Pragati Sachan did MBBS from IMS (Institute of Medical Science), BHU. Her special areas of interest are Dental, Oral Surgeon. He is a Senior Resident  At AIIMS (Bhubaneshwar). She is working as a Senior Resident at Sunrise  Hospitals, Awleshpur, Varanasi.
								</p>

								<!-- Option #1 -->
								<div class="box-list m-top-15">							
									<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
									<p class="p-sm">Senior Resident At AIIMS (Bhubaneshwar)</p>							
								</div>

								<!-- Option #2 -->
								<div class="box-list">	
									<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
									<p class="p-sm">Former Resident  In Conservative Dentistry & Endodontrics(IMS,BHU)
									 </p>				
								</div>

								<!-- Option #3 -->
								

								<!-- CERTIFICATES -->	
								<!-- END CERTIFICATES -->	

							</div>
						</div>	<!-- END DOCTOR BIO -->


					</div>    <!-- End row -->	
				</div>	   <!-- End container -->
			</section>  <!-- END DOCTOR-1 DETAILS -->




			<!-- TESTIMONIALS-2
			============================================= -->
			