<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a asp-Controller ="Home" asp-Action="Index">Home</a></li>
								    	<li class="breadcrumb-item"><a asp-Controller ="Appointment" asp-Action="Index">Our Services</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">ICU</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">ICU</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- SERVICE DETAILS
			============================================= -->
			<div id="service-page" class="wide-60 service-page-section division">
				<div class="container">


					<!-- TEXT -->
					<div class="row">
				 		<div class="col-xl-10 offset-xl-1">
				 			<div class="s1-page content-block text-center">

				 				<!-- Title -->
								<h3 class="h3-xl blue-color">ICU</h3>
								

				 				<!-- Text -->
								<p class="p-lg">An intensive care unit (ICU), also known as an intensive therapy unit or intensive treatment unit (ITU) or critical care unit (CCU), is a special department of a hospital or health ... Surgical intensive care unit (SICU): Also known as the surgery critical care unit, the SICU is a specialized service in larger hospitals that provides .
								</p>

				 			</div>
				 		</div>
				 	</div>  <!-- End row -->	


				 	<!-- IMAGE -->
				 	<div class="row">
				 		<div class="col-md-12">
							<div class="content-block-img text-center">
								<img class="img-fluid" src="images/icu.jpg" alt="content-image"  style="height:400px; width:500px"  >
							</div>
						</div>
					</div>


					<!-- TEXT -->
					<div class="row">
				 		<div class="col-xl-10 offset-xl-1">
				 			<div class="s1-page content-block text-center mb-40">

				 				<!-- Text -->
								

								<!-- Button -->
								<a asp-Controller ="Appointment" asp-Action="Index" class="btn btn-md btn-blue blue-hover">Book an Appointment</a>

								<!-- Text -->
								

				 			</div>
				 		</div>

				 	</div>  <!-- End row -->	


				</div>	<!-- End container -->	
			</div>	<!-- END SERVICE DETAILS -->




			<!-- TESTIMONIALS-2
			============================================= -->
				<!-- END DOCTORS-1 -->