<div id="breadcrumb" class="division">
				<div class="container">
					<div class="row">						
						<div class="col">
							<div class=" breadcrumb-holder">

								<!-- Breadcrumb Nav -->
								<nav aria-label="breadcrumb">
								  	<ol class="breadcrumb">
								    	<li class="breadcrumb-item"><a asp-Controller ="Home" asp-Action="Index">Home</a></li>
								    	<li class="breadcrumb-item"><a asp-Controller ="IPD" asp-Action="Index">Our Services</a></li>
								    	<li class="breadcrumb-item active" aria-current="page">IPD</li>
								  	</ol>
								</nav>

								<!-- Title -->
								<h4 class="h4-sm steelblue-color">IPD</h4>

							</div>
						</div>
					</div>  <!-- End row -->	
				</div>	<!-- End container -->		
			</div>	<!-- END BREADCRUMB -->	




			<!-- SERVICE DETAILS
			============================================= -->
			<div id="service-page" class="wide-60 service-page-section division">
				<div class="container">


					<!-- TEXT -->
					<div class="row">
				 		<div class="col-xl-10 offset-xl-1">
				 			<div class="s1-page content-block text-center">

				 				<!-- Title -->
								<h3 class="h3-xl blue-color">IPD</h3>
								

				 				<!-- Text -->
								<p class="p-lg">An inpatient department or IPD is a unit of a hospital or a healthcare facility where patients are admitted for medical conditions that require appropriate care and attention. An Inpatient Department of the hospital is equipped with beds, medical equipments, round the clock availability of doctors and nurses.
								</p>

				 			</div>
				 		</div>
				 	</div>  <!-- End row -->	


				 	<!-- IMAGE -->
				 	<div class="row">
				 		<div class="col-md-12">
							<div class="content-block-img text-center">
								<img class="img-fluid" src="images/ipd.jpg" alt="content-image" style="height:60%; width:50%">
							</div>
						</div>
					</div>


					<!-- TEXT -->
					<div class="row">
				 		<div class="col-xl-10 offset-xl-1">
				 			<div class="s1-page content-block text-center mb-40">

				 				<!-- Text -->
								

								<!-- Button -->
								<a asp-Controller ="Appointment" asp-Action="Index" class="btn btn-md btn-blue blue-hover">Book an Appointment</a>

								<!-- Text -->
								

				 			</div>
				 		</div>

				 	</div>  <!-- End row -->	


				</div>	<!-- End container -->	
			</div>	<!-- END SERVICE DETAILS -->




			<!-- TESTIMONIALS-2
			============================================= -->
				<!-- END DOCTORS-1 -->